
<div fxLayout="row" fxLayoutGap="3rem">
    <div class="w200px">
        <span>Sección</span>
        <mat-select [(ngModel)]="seccionActual">
            <mat-option [value]="'1'" class="optionItem"> Sección 1 </mat-option>
            <mat-option [value]="'2'" class="optionItem"> Sección 2</mat-option>
        </mat-select>
    
        <hr>
    
        <div class="checkboxContainer">
            <mat-checkbox> 
                <span (dblclick)="configurarMapa()">Teórico</span>  
            </mat-checkbox>
            <mat-checkbox> FAT </mat-checkbox>
            <mat-checkbox> SAT mejor condición </mat-checkbox>
            <mat-checkbox> SAT actual </mat-checkbox>
        </div>
        <div class="mgt10">
            <button class="standard">Agregar</button>
        </div>
    </div>
    
    <div class="neutralFill1 fw" fxLayoutalign="center center">
        <li>Opcion 1: Se muestran las curvas utilizando los valores del dataSet</li>
        <li>Opcion 2: Se muestran las curvas utilizando los generados a partir de los coeficientes</li>
    </div>
</div>