<div class="pd20  menuToolbar" fxLayoutAlign="space-between">

    <!-- <div class="fw centertext">
        <span class="ft26 ft500 text2">{{equipo.familia}} {{equipo.tag}}</span>
    </div> -->

    <mat-menu #menu="matMenu" class="contextMenu">
        <li class="menuItem" *ngIf="equipo.familia==='Compresor'" (click)="dialogDuplicarCompresor()">Duplicar equipo</li>
        <li class="menuItem" *ngIf="equipo.familia==='Turbina'" (click)="dialogDuplicarTurbina()">Duplicar equipo</li>
        <li class="menuItem" *ngIf="equipo.familia==='Compresor'" (click)="dialogCargarCompresor()">Cargar equipo de libreria</li>
        <li class="menuItem" *ngIf="equipo.familia==='Turbina'" (click)="dialogCargarTurbina()">Cargar equipo de libreria</li>
        <li class="menuItem" *ngIf="equipo.familia==='Compresor'" (click)="dialogGuardarCompresor()">Guardar equipo en libreria</li>
        <li class="menuItem" *ngIf="equipo.familia==='Turbina'" (click)="dialogGuardarTurbina()">Guardar equipo en libreria</li>
    </mat-menu>
</div>

<div class="pdl10 pdr20">
    <configuracion-compresor *ngIf="equipo.familia==='Compresor'"></configuracion-compresor>
<configuracion-turbina *ngIf="equipo.familia==='Turbina'"></configuracion-turbina>
</div>
