<div class="pd20  menuToolbar" fxLayoutAlign="space-between">
    <span class="ft22">{{equipo.familia}} {{equipo.tag}}</span>
    <div fxLayoutAlign="space-between">
        <mat-icon class="iconButton ft26" placeholder="Agregar tren">add</mat-icon>
        <mat-icon class="iconButton ft26" >more_vert</mat-icon>
    </div>
</div>

<div class="pdl10 pdr20">
    <configuracion-compresor *ngIf="equipo.familia==='Compresor'"></configuracion-compresor>
<configuracion-turbina *ngIf="equipo.familia==='Turbina'"></configuracion-turbina>
</div>
