<div class="pd30 neutralFill1">
    <div class="titleBar">
        <span>Title goes here</span>
    </div>
    <div class="menuToolbar fw">
        <span class="textButton"  [ngClass]="{'selected2': tabSelected === 'datosTecnicos'}" (click)="tabSelect('datosTecnicos')">Datos Técnicos</span>
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'cromatografia'}" (click)="tabSelect('cromatografia')">Cromatografia</span>
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'mapas'}" (click)="tabSelect('mapas')">Mapas</span>
        <span class="textButton"  [ngClass]="{'selected2': tabSelected === 'simulacionTeorica'}" (click)="tabSelect('simulacionTeorica')">Simulación Teórica</span>
        <span class="textButton"  [ngClass]="{'selected2': tabSelected === 'adimensionalizacion'}" (click)="tabSelect('adimensionalizacion')">Adimensionalización</span>
    </div>
    
    <caracteristicas-compresor *ngIf="tabSelected==='datosTecnicos'"></caracteristicas-compresor>
    <cromatografia *ngIf="tabSelected==='cromatografia'"></cromatografia>
    <mapas *ngIf="tabSelected==='mapas'"></mapas>
    <simulacion-teorica *ngIf="tabSelected==='simulacionTeorica'"></simulacion-teorica>
    <adimensionalizacion *ngIf="tabSelected==='adimensionalizacion'"></adimensionalizacion>
</div>
