.trenContainer{
    position: relative;
    width: fit-content;
    cursor: pointer;
    border: 2px solid var(--stroke1);
    border-radius: 8px;
    padding: .5rem;
    padding-right: 2rem;

}

.trenContainer:hover{
    position: relative;
    width: fit-content;
    cursor: pointer;
    background-color: var(--neutral1);
    border: 2px solid var(--accent5);
    transition: .25s;
    box-shadow: var(--shadow16);  
}

.trenContainer2:hover{
    background-color: transparent;
    position: relative;
    width: fit-content;
    cursor: pointer;
    border: 2px solid var(--stroke1);
    transition: .25s;
    box-shadow: none;  
}


.equipoContainer{
    height: 160px;
    width: 160px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: .5rem;
}

.equipoContainer:hover{
background-color: var(--neutral1);
    border: 2px solid var(--accent5);
transition: .25s;
box-shadow: var(--shadow16);
}

.equipoContainer:hover > .configContainer{
   display: block; 
}


.shaftContainer{
    position: absolute;
    top: 74px;
    right: 80px;
    width: 176px;
    height: 10px;
    border: 2px solid var(--stroke2);
    background: var(--neutral2);
    z-index: 0;
    opacity: 1;
}

.equipoIcon{
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 5;
    width: 95%;
    height: 95%;
}

.tagText{
    position: absolute;
    top:73;
    left: 68px;
    color: var(--text2) !important;
    font-size: 13px !important;
    z-index: 100 !important;
    font-weight: 500;
    border: 1px solid var(--stroke2);
    border-radius: 4px;
    padding: 2px;
    background-color: var(--neutral2);
}

.moreButton{
    top: 6px;
    right: 6px;
    position: absolute;
}

.trainTagText{
    position: absolute;
    left: 8px;
    top: 6px;
    font-size: 16px;
    font-weight: 600;
}

.configContainer{
    display: none;
    position: absolute;
    top: 4px !important;
    right: 4px;
    z-index: 100;
}