<div fxLayout="column" fxLayoutAlign="center center">
    <div class="w900px mgt40">

        <div fxLayout="row" class="border-b">
            <!-- Logo PSICO -->
            <div class="border w100px centertext">

            </div>

            <!-- Info Proyecto -->
            <div class="centertext fw border">
                <div class="ft500 ft14">EVALUACIÓN DEL COMPORTAMIENTO DE COMPRESORES CENTRÍFUGOS</div>
                <div class="ft500 ft12 text2">RESUMEN DE DATOS PARA UN PUNTO DE OPERACIÓN</div>
                <div class="ft500 ft12 aText3">COMPORTAMIENTO REAL</div>
            </div>

            <!-- Logo Usuario Final -->
            <div class="border w100px centertext">

            </div>

        </div>

        <div class="mgt10">
            <table class="fw">
                <tr>
                    <th colspan="2">Contrato</th>
                    <th colspan="2">Codificación y título del documento</th>
                    <th colspan="2">Instalación</th>
                    <th colspan="2">Equipo</th>
                </tr>
                <tr>
                    <th>ODS</th>
                    <td>-</td>
                    <th>Código</th>
                    <td>-</td>
                    <th rowspan="2">Planta</th>
                    <td rowspan="2">-</td>
                    <th>Compresor</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Cliente</th>
                    <td>-</td>
                    <th rowspan="2">Título</th>
                    <td rowspan="2">-</td>
                    <th>Marca/Model</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Usuario final</th>
                    <td>-</td>
                    <th>Ubicación</th>
                    <td>-</td>
                    <th>N/S</th>
                    <td>-</td>
                </tr>

            </table>

        </div>



        <div class="ft16 ft500">Resumen</div>
        <div fxLayout="row" fxLayoutGap="1rem" fxLayoutGap="1rem" class="mgt10 fw">
            <div class="centertext radius4 pd05 fw border">
                <span class="ft500 ft12">Potencia</span>
                <div class="mgt05 ft500 ft20">{{this.punto.outputTren.outputAdim.HPGAS | number:'1.2-2'}} Hp</div>
                <div class="mgt05 ft500 ft12 redText">{{(punto.outputTren.outputAdim.HPGAS - punto.outputTren.outputTeorico.HPGAS)*100/punto.outputTren.outputTeorico.HPGAS | number:'1.2-2'}}%</div>
            </div>

            <div class="centertext radius4 pd05 fw border">
                <span class="ft500 ft12">Cabezal Politrópico</span>
                <div class="mgt05 ft500 ft20">{{this.punto.outputTren.outputAdim.HEADPOLI | number:'1.2-2'}}  </div>
                <div class="mgt05 ft500 ft12 redText">{{(punto.outputTren.outputAdim.HEADPOLI - punto.outputTren.outputTeorico.HEADPOLI)*100/punto.outputTren.outputTeorico.HEADPOLI | number:'1.2-2'}}%</div>
            </div>

            <div class="centertext radius4 pd05 fw border">
                <span class="ft500 ft12">Presión de descarga</span>
                <div class="mgt05 ft500 ft20">{{this.punto.outputTren.outputAdim.PDES | number:'1.2-2'}} [°F]</div>
                <div class="mgt05 ft500 ft12 redText">{{(punto.outputTren.outputAdim.PDES - punto.outputTren.outputTeorico.PDES)*100/punto.outputTren.outputTeorico.PDES | number:'1.2-2'}}%</div>
            </div>

            <div class="centertext radius4 pd05 fw border">
                <span class="ft500 ft12">Flujo</span>
                <div class="mgt05 ft500 ft20"> {{this.punto.outputTren.outputAdim.FLUJOMMSCFD | number:'1.2-2'}} [MMSCFD]</div>
                <div class="mgt05 ft500 ft12 redText">{{(punto.outputTren.outputAdim.FLUJOMMSCFD - punto.outputTren.outputTeorico.FLUJOMMSCFD)*100/punto.outputTren.outputTeorico.FLUJOMMSCFD | number:'1.2-2'}}%</div>
            </div>

        </div>
        <table class="mgt10 fw">
            <tr>
                <th rowspan="2">Real o teorico</th>
                <th rowspan="2" *ngIf="nCompresores>=2">Compresor</th>
                <th rowspan="2" *ngIf="nCompresoresMultiSeccion>=1">Sección</th>
                <th rowspan="2">Cromatografía</th>
                <th rowspan="2">Flujo</th>
                <th rowspan="2">Veloc</th>
                <th colspan="2">Succión</th>
                <th colspan="2">Descarga</th>
                <th colspan="3">Adimensionales</th>
                <th colspan="2">Potencia</th>
            </tr>
            <tr>
                <!-- Succión -->
                <th>Temp.</th>
                <th>Pres.</th>
                <!-- Succión -->
                <th>Temp.</th>
                <th>Pres.</th>
                <!-- Eficiencia -->
                <th>Q/N</th>
                <th>Coef. cab</th>
                <th>Efic.</th>
                <!-- Potencia -->
                <th>Pot.</th>
                <th>ΣPot.</th>
            </tr>
            <tr *ngFor="let seccion of punto.simulacion; let i = index">
                <td>{{i}}</td>
                <td >Compresor: {{seccion.equipoTag}} Seccion: {{seccion.seccion}}</td>
                <td></td>
                <td>{{seccion.outputAdim.FLUJOMMSCFD | number:'1.2-2'}}</td>
                <td>{{seccion.outputAdim.RPM | number:'1.2-2'}}</td>
                <td>{{seccion.outputAdim.TSUC | number:'1.2-2'}}</td>
                <td>{{seccion.outputAdim.PSUC | number:'1.2-2'}}</td>
                <!-- Descarga -->
                <td>{{seccion.outputAdim.TDES | number:'1.2-2'}}<span class="mgl05 ft10 redText">{{(seccion.outputAdim.TDES - seccion.outputTeorico.TDES)*100/seccion.outputTeorico.TDES | number:'1.2-2'}}%</span></td>
                <td>{{seccion.outputAdim.PDES | number:'1.2-2'}}<span class="mgl05 ft10 redText">{{(seccion.outputAdim.PDES - seccion.outputTeorico.PDES)*100/seccion.outputTeorico.PDES | number:'1.2-2'}}%</span></td>
                <!-- Adimensionales -->
                <td>{{seccion.outputAdim.QN | number:'1.2-2'}}<span class="mgl05 ft10 redText">{{(seccion.outputAdim.QN - seccion.outputTeorico.QN)*100/seccion.outputTeorico.QN | number:'1.2-2'}}%</span></td>
                <td>{{seccion.outputAdim.CFHEADPOLI | number:'1.2-2'}}<span class="mgl05 ft10 redText">{{(seccion.outputAdim.CFHEADPOLI - seccion.outputTeorico.CFHEADPOLI)*100/seccion.outputTeorico.CFHEADPOLI | number:'1.2-2'}}%</span></td>
                <td>{{seccion.outputAdim.EFICPOLI | number:'1.2-2'}}<span class="mgl05 ft10 redText">{{(seccion.outputAdim.EFICPOLI - seccion.outputTeorico.EFICPOLI)*100/seccion.outputTeorico.EFICPOLI | number:'1.2-2'}}%</span></td>
                 <!-- Potencia -->
                <td>{{seccion.outputAdim.HPGAS | number:'1.2-2'}}<span class="mgl05 ft10 redText">{{(seccion.outputAdim.HPGAS - seccion.outputTeorico.HPGAS)*100/seccion.outputTeorico.HPGAS | number:'1.2-2'}}%</span></td>
                <td>{{punto.outputTren.outputAdim.HPGAS | number:'1.2-2'}}<span class="mgl05 ft10 redText">{{(punto.outputTren.outputAdim.HPGAS - punto.outputTren.outputTeorico.HPGAS)*100/punto.outputTren.outputTeorico.HPGAS | number:'1.2-2'}}%</span></td>
            </tr>
        </table>


        <div fxLayout="row" class="mgt10">

            <!-- Cromatografia -->
            <div class="neutralFill1">
                <table class="fw whiteFill">
                    <tr>
                        <th colspan="5" class="centertext">Cromatografía, base seca</th>
                    </tr>
                    <tr>
                        <th rowspan="2" class="nowrap">Componente</th>
                        <th rowspan="2">Peso Mol. lb/lbmol</th>
                        <th rowspan="1" colspan="3">Fracción Molar [%]</th>
                    </tr>
                    <tr>
                        <th class="nowrap">Mezcla 1</th>
                        <th class="nowrap">Mezcla 2</th>
                        <th class="nowrap">Mezcla 3</th>
                    </tr>
                    <tr *ngFor="let item of data.cromatografiaNombre; let i = index">
                        <td class="nowrap">{{item}}</td>
                        <td>{{data.cromatografiaPM[i]}}</td>
                        <td>{{.9876}}</td>
                        <td>{{.9876}}</td>
                        <td>{{.9876}}</td>
                    </tr>
                </table>
            </div>

            <div fxLayout="row" class="mgl10 fw border">
                <!-- Grafico 1 Mapa de potencia -->
                <div class="fw h400px border-r">
                    <div class="mgt05 ft500 centertext ft12">Mapa 1</div>
                </div>

                <!-- Grafico 2 Mapa de Presion de descarga -->
                <div class="fw h400px">
                    <div class="mgt05 ft500 centertext ft12">Mapa 2</div>
                </div>
            </div>
        </div>


        <!-- Comentarios -->
        <div fxLayout="row" class="mgt10">
            <div class="ft500 ft13">Comentarios</div>
        </div>

    </div>

</div>