<div class="pd10">

    <div fxLayout="row">
        <div>
            <div fxLayout="row" fxLayoutGap="1rem" fxLayoutGap="2rem" class="pd10">

                <div class="centertext">
                    <span class="ft13 ft500">Efic. Poli</span>
                    <div class="mgt08 ft500 ftxxl">75 %</div>
                    <div class="mgt05 ft500 ft13 redText">-6 %</div>
                </div>

                <div class="centertext">
                    <span class="ft13 ft500">Potencia</span>
                    <div class="mgt08 ft500 ftxxl">6500 Hp</div>
                    <div class="mgt05 ft500 ft13 redText">-11 %</div>
                </div>

                
                <div class="centertext">
                    <span class="ft13 ft500">Cab Poli</span>
                    <div class="mgt08 ft500 ftxxl">75 %</div>
                    <div class="mgt05 ft500 ft13 redText">-5 %</div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="1rem">
                <div>
                    <div class="ft500 ft13">Out params 2</div>
                    <div *ngFor="let item of outParams1" class="ft12 text2">{{item}}</div>
                </div>
                <div>
                    <div class="ft500 ft13">Out params 1</div>
                    <div *ngFor="let item of outParams" class="ft12 text2">{{item}}</div>
                </div>
            </div>
        </div>

        <div class="mgl20 border radius4 h600px w400px">
            <div class="ft14 ft500 centertext mgt05">Mapa de compresión del tren</div>
            <div fxLayoutAlign="center center" class="fh text3 ft12"> Mapa del compresor aqui</div>
        </div>

    </div>

</div>