<div class="column w400px">
    <div class="pd10 neutralFill1">
        <div class="fw" fxLayout="row" fxLayoutAlign="space-between center" >
            <span class="ft16 text2 mgb0 pd0">Documentos de soporte</span>
            <mat-icon class="ft18 text2 cursorPointer" (click)="closeDialog()">close</mat-icon>
        </div>
        <div class="containerSoltarArchivo mgt10">
            <span class="ft16 text3">Agregar</span>
            <!-- <mat-icon class="stroke1 ftxxl">add</mat-icon> -->
        </div>

        <label>Título</label>
        <input type="text" class="fw">
        <label>Tipo</label>
        <input type="text" class="fw">
        <label>Comentario</label>
        <input type="text" class="fw">
    
    </div>
   <div class="back pd10 pdr10 pdt10 pdb10 border-t fw">
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px" class="fw">
        <button class="standard fw">Eliminar</button>
        <button class="accent fw">Guardar</button>
    </div>
   </div>



</div>