<!-------------------------------------------------------------------- Cromatografía del gas -->

<div fxLayout="row" fxLayoutGap="3rem">



    <!-------------------------------------------------------------------- Cromatografía del gas -->

    <div>
        <table>
            <tr>
                <th>Componente</th>
                <th>Formula</th>
                <th>Peso Molecular</th>
                <th>Fraccion Molar</th>
                <th>Normalizado</th>
                <th>LHV</th>
                <th>LHV</th>
            </tr>
            <tr *ngFor="let item of cromatografia">
                <td>{{item.nombre}}</td>
                <td>{{item.formula}}</td>
                <td>{{item.pesoMolecular}}</td>
                <td> <input type="text" [(ngModel)]="item.fraccionMolar"></td>
                <td>{{item.normalizado}}</td>
                <td>{{item.LHV}}</td>
                <td>{{item.HHV}}</td>
            </tr>
        </table>

        <p> Nota: debe introducir la fraccion molar de cada componente.</p>
        <button>Normalizar</button>
    </div>



    <!-------------------------------------------------------------------- Propiedades del gas -->

    <div>
        <table>
            <tr>
                <td>Presión</td>
                <td> select </td>
                <td><input type="number"></td>

            </tr>
            <tr>
                <td>Temperatura</td>
                <td> select </td>
                <td> <input type="number"> </td>

            </tr>

            <p>Propiedades calculadas del gas</p>
            <tr>
                <td>Densidad</td>
                <td> select </td>
                <td> <input type="number"> </td>
            </tr>
            <tr>
                <td>Volumen</td>
                <td> select </td>
                <td> <input type="number"> </td>
            </tr>
            <tr>
                <td>Entalpia</td>
                <td> select </td>
                <td> <input type="number"> </td>
            </tr>
            <tr>
                <td>Entropia</td>
                <td> select </td>
                <td> <input type="number"> </td>
            </tr>
            <tr>
                <td>Peso molecular</td>
                <td> select </td>
                <td> <input type="number"> </td>
            </tr>
            <tr>
                <td>Compresibilidad</td>
                <td> select </td>
                <td> <input type="number"> </td>
            </tr>
            <tr>
                <td>Calidad</td>
                <td> select </td>
                <td> <input type="number"> </td>
            </tr>
        </table>
    </div>


</div>

