<!-------------------------------------------------------------------- Cromatografía del gas -->

<div>
    <div class="firstRow" fxLayoutAlign="space-between center">
        <span class="ft16 text2">Mezcla de Gas</span>
        <div class="neutralFill1 pd05 pdl08"> 
            <span class="ft16 text2 mgr10">Nombre</span>
            <input type="text" [(ngModel)]="nombreCromatografia" class="stroke2">
        </div>
        <!-- <span class="textButton" (click)="normalizar()">Normalizar</span> -->
        <div>
            <mat-icon class="iconButton text2" matTooltip="Guardar en libreria">save</mat-icon>
            <mat-icon class="iconButton text2" matTooltip="Cargar de libreria" (click)="openLibreriaCromatografias()">folder_open</mat-icon>
            <mat-icon class="iconButton text2">close</mat-icon>
        </div>
    </div>

    <div fxLayout="row">


        <!-------------------------------------------------------------------- Cromatografía del gas -->

        <div fxFlex=100%>
            <table class="fw">
                <tr>
                    <th>Componente</th>
                    <th >Formula</th>
                    <th >P.M.</th>
                    <th fxLayoutAlign="center center"> 
                        F.M. &nbsp;
                        <mat-icon class="iconButton text2" matTooltip="Normalizar">exposure_plus_1</mat-icon>
                    </th>
                </tr>
                <tr *ngFor="let item of data.cromatografiaNombre | keyvalue: returnZero; let i=index" >
                    <td>{{data.cromatografiaNombre[i]}}</td>
                    <td class="centertext">{{this.data.cromatografiaPM[i]}}</td>
                    <td> <input type="number" [(ngModel)]="this.cromatografiaOriginal[item.key]" class="w100px"></td>
                    <td> <input type="number" [(ngModel)]="this.cromatografiaNormalizada[item.key]" class="w100px"></td>
                </tr>
                <tr class="border-t">
                    <td >Total</td>
                    <td></td>
                    <!-- <td></td> -->
                    <!-- <td class="centertext">{{fraccMolarTotal}}</td> -->
                </tr>
            </table>
        </div>

        <!-------------------------------------------------------------------- Propiedades del gas -->

        <div class="border-l">
            <div class="firstRow" fxLayoutAlign="space-between center">
                {{cromatografiaOriginal | json}}

                <br><br>
                {{cromatografiaNormalizada | json}}
                <span class="ft16 text2">Propiedades del gas</span>
                <!-- <span class="textButton" (click)="normalizar()">Calcular</span> -->
            </div>
            <table>
                <!-- <tr>
                    <th>Propiedades del gas</th>
                </tr> -->
                <tr>
                    <td colspan="3" >
                        <div class="titleContainer">Parametros de entrada</div>
                    </td>
                </tr>
                <tr>
                    <td>Presión</td>
                    <td> select </td>
                    <td class="centertext"><input type="number" class="w100px" placeholder="0"></td>

                </tr>
                <tr>
                    <td>Temperatura</td>
                    <td> select </td>
                    <td class="centertext"> <input type="number" class="w100px" placeholder="0"> </td>
                </tr>
                <tr>
                    <td colspan="3" >
                        <div class="titleContainer">Propiedades calculadas</div>
                    </td>
                </tr>
                <tr>
                    <td>Densidad</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.densidad}} </td>
                </tr>
                <tr>
                    <td>Volumen</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.volumen}} </td>
                </tr>
                <tr>
                    <td>Entalpia</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.entalpia}} </td>
                </tr>
                <tr>
                    <td>Entropia</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.entropia}} </td>
                </tr>
                <tr>
                    <td>Peso molecular</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.pesoMolecular}} </td>
                </tr>
                <tr>
                    <td>Compresibilidad</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.compresibilidad}} </td>
                </tr>
                <tr>
                    <td>Calidad</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.calidad}} </td>
                </tr>
                <tr>
                    <td>LHV</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.LHV}} </td>
                </tr>
                <tr>
                    <td>HHV</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.HHV}} </td>
                </tr>
                <tr>
                    <td>Grav. Esp.</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.gravedadEspecifica}} </td>
                </tr>
                <tr>
                    <td>W.I.</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.wi}} </td>
                </tr>
            </table>
        </div>
    </div>

    <!-------------------------------------------------- Nota de pie al final de la ventana -->
    <div class="neutralFill1 pdl10 pd05 border-t" fxLayoutAlign="space-between">
        <span class="text2"> Nota: debe introducir la fraccion molar de cada componente.</span>
        <button class="standard" *ngIf="!nombreCromatografia" disabled>Guardar</button>
        <button class="accent" *ngIf="nombreCromatografia">Guardar</button>
    </div>

</div>