.firstRow{
    background: var(--neutral1);
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: solid 1px var(--stroke1);
}



.titleContainer{
    margin-top: 16px;
    margin-bottom: 4px;
    height: 32px;
    
    font-weight: 500;
}

tr{
    height: 24px;
}

th{
    color: var(--text2);
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500px !important;
}

td{
    font-weight: 400;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;

}


input{
    margin-top: .3rem;
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 12px !important;
    height: 22px;
    background-color: var(--neutral1) !important;
    min-width: 70px !important;
    width: 70px;
}

input:focus{
    border: 2px solid var(--accent5);
    background: var(--control1) !important;
    border-radius: 4px;
}

