<!-------------------------------------------------------------------- Cromatografía del gas -->

<div>
    <div class="firstRow" fxLayoutAlign="space-between center">
        <span class="ft16 text2">Mezcla de Gas</span>
        <div class="neutralFill1 pd05 pdl08"> 
            <span class="ft16 text2 mgr10">Nombre</span>
            <input type="text" [(ngModel)]="nombreCromatografia" class="stroke2">
        </div>
        <!-- <span class="textButton" (click)="normalizar()">Normalizar</span> -->
        <div>
            <mat-icon class="iconButton text2" matTooltip="Guardar en libreria">save</mat-icon>
            <mat-icon class="iconButton text2" matTooltip="Cargar de libreria" (click)="openLibreriaCromatografias()">folder_open</mat-icon>
            <mat-icon class="iconButton text2">close</mat-icon>
        </div>
    </div>

    <div fxLayout="row">


        <!-------------------------------------------------------------------- Cromatografía del gas -->

        <div fxFlex=100%>
            <table class="fw">
                <tr>
                    <th>Componente</th>
                    <th>P.M.</th>
                    <th>F.M (Original)</th>
                    <th>F.M (Norm)</th>
                </tr>
                <tr>
                    <th>Metano (CH4)</th>
                    <th>16.043</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.metano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.metano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Etano (C2H6)</th>
                    <th>30.07</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.etano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.etano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Propano (C3H8)</th>
                    <th>44.097</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.propano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.propano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>iso-Butano (C4H10)</th>
                    <th>58.124</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.iButano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.iButano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>n-Butano (C4H10)</th>
                    <th>58.124</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.nButano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.nButano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>iso-Pentano (C5H12)</th>
                    <th>72.151</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.iPentano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.iPentano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>n-Pentano (C5H12)</th>
                    <th>72.151</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.nPentano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.nPentano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Hexanos  (C6H14)</th>
                    <th>86.178</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.hexano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.hexano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Heptanos (C7H16)</th>
                    <th>100.205</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.heptano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.heptano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Octanos (C8H18)</th>
                    <th>114.232</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.octano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.octano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Nonanos (C9H20)</th>
                    <th>128.259</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.nonano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.nonano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Decanos (C10H22)</th>
                    <th>142.286</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.decano" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.decano | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Diox. Carbono (CO2)</th>
                    <th>44.01</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.dioxCarbono" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.dioxCarbono | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Nitrogeno (N2)</th>
                    <th>28.013</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.nitrogeno" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.nitrogeno | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th>Sulf. Hidrógeno (H2S)</th>
                    <th>34.076</th>
                    <th><input type="text" [(ngModel)]="cromatografiaOriginal.sulfHidrogeno" (ngModelChange)="normalizar()"></th>
                    <th>{{cromatografiaNormalizada.sulfHidrogeno | number: '1.3-3'}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>{{this.cromatografiaOriginal.fraccMolar | number: '1.3-3'}}</th>
                    <th>{{this.cromatografiaNormalizada.fraccMolar | number: '1.3-3'}}</th>
                </tr>
            </table>
        </div>



        <!-------------------------------------------------------------------- Propiedades del gas -->

        <div class="border-l">
            <div class="firstRow" fxLayoutAlign="space-between center">
                <span class="ft16 text2">Propiedades del gas</span>
                <!-- <span class="textButton" (click)="normalizar()">Calcular</span> -->
            </div>
            <table>
                <!-- <tr>
                    <th>Propiedades del gas</th>
                </tr> -->
                <tr>
                    <td colspan="3" >
                        <div class="titleContainer">Parametros de entrada</div>
                    </td>
                </tr>
                <tr>
                    <td>Presión</td>
                    <td> select </td>
                    <td class="centertext"><input type="number" class="w100px" placeholder="0"></td>

                </tr>
                <tr>
                    <td>Temperatura</td>
                    <td> select </td>
                    <td class="centertext"> <input type="number" class="w100px" placeholder="0"> </td>
                </tr>
                <tr>
                    <td colspan="3" >
                        <div class="titleContainer">Propiedades calculadas</div>
                    </td>
                </tr>
                <tr>
                    <td>Densidad</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.densidad}} </td>
                </tr>
                <tr>
                    <td>Volumen</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.volumen}} </td>
                </tr>
                <tr>
                    <td>Entalpia</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.entalpia}} </td>
                </tr>
                <tr>
                    <td>Entropia</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.entropia}} </td>
                </tr>
                <tr>
                    <td>Peso molecular</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.pesoMolecular}} </td>
                </tr>
                <tr>
                    <td>Compresibilidad</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.compresibilidad}} </td>
                </tr>
                <tr>
                    <td>Calidad</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.calidad}} </td>
                </tr>
                <tr>
                    <td>LHV</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.LHV}} </td>
                </tr>
                <tr>
                    <td>HHV</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.HHV}} </td>
                </tr>
                <tr>
                    <td>Grav. Esp.</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.gravedadEspecifica}} </td>
                </tr>
                <tr>
                    <td>W.I.</td>
                    <td> select </td>
                    <td class="centertext"> {{propidadesCromatografia.wi}} </td>
                </tr>
            </table>
        </div>
    </div>

    <!-------------------------------------------------- Nota de pie al final de la ventana -->
    <div class="neutralFill1 pdl10 pd05 border-t" fxLayoutAlign="space-between">
        <span class="text2"> Nota: debe introducir la fraccion molar de cada componente.</span>
        <button class="standard" *ngIf="!nombreCromatografia" disabled>Guardar</button>
        <button class="accent" *ngIf="nombreCromatografia">Guardar</button>
    </div>

</div>