.optionContainer{
    height: 300px;
    width: 232px;
    position: relative;
    cursor: pointer;
    border: 2px solid var(--neutral2);
    border-radius: 8px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.optionContainer:hover{
    background-color: var(--neutral1);
    transition: .25s;
    box-shadow: var(--shadow16);  
    border: 2px solid  var(--accent5);
}

.imgContainer{
    width: 144px;
    height: 144px;
}
