/* 

.trenContainer{
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--stroke2);
    border-radius: 4px;
    width: 80%;
    min-height: 180px;
} */

.boxContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 2px solid var(--stroke2);
    border-radius: 4px;
}

.optionsIcon{
    position: absolute;
    top: 12px;
    right: 8px;
    font-size: 18px;
    cursor: pointer;
}
