
<div fxLayout="column">
    <span>Configuración del proyecto</span>

    <span>Orden de servicio</span>
    <span>Cliente</span>
    <span>Usuario final</span>
    <span>Instalación</span>
    <span>Ubicación técnica</span>


    
    <span>Nombre del poryecto</span>
    <input type="text">
    

    <span>Cliente</span>
    <input type="text">
    <span>Instalacion</span>
    <span>Ubicacion tecnica</span>


    <span>Contrato</span>
    
    Contrato	Codificación y título del documento	Instalación	Equipo
ODS	-	Código	-	Planta	-	Compresor	-
Cliente	-	Título	-	Marca/Model	-
Usuario final	-	Ubicación	-	N/S



    <span>Usuarios visualición</span>
</div>