
<div fxLayout="column" fxLayoutAlign="center center" class="fh">

    <span>Configuración del proyecto</span>

    <span class="mgt10">Fecha de creación</span>
    <span>22 de mayo**</span>
    
    <span class="mgt10">Instalación</span>
    <input type="text">
    <span>Ubicación técnica</span>
    <input type="text">

    <span class="mgt10">Cliente</span>
    <input type="text">

    <span class="mgt10">Usuario final</span>
    <input type="text">


    <span class="mgt10">Orden de servicio</span>
    <input type="text">


</div>