.simpleSelect{
    text-align: end !important;
    /* border: none !important; */
    height: 30px !important;
    position: relative;
    right: -5px !important;
    /* background-color: transparent !important; */
}
