<div class="dataImpulsorContainer">
    <div class="firstRow" fxLayoutAlign="space-between center">
        <span class="ft16 text2">Coeficientes calculados</span>
        <mat-icon class="iconButton" (click)="descargarCSV()"> download</mat-icon>
        <mat-icon class="iconButton"> close</mat-icon>
        <span class="textButton">
            <mat-icon class="ft20">download</mat-icon>
            Descargar data
          </span>
        <!-- <span class="textButton">Descargar data</span> -->
    </div>

    <div class="pdt10 pdl10 pdr10">
        <button (click)="reset()">Limpiar Data</button>

        <td>cargar csv
            <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" accept=".csv"
                (change)="fileChangeListener($event)" />
        </td>
        <td>
            <mat-select [(ngModel)]="tipoAjuste">
                <mat-option [value]="'Automatico'" class="optionItem"> Manual </mat-option>
                <mat-option [value]="'Manual'" class="optionItem"> Automatico</mat-option>
            </mat-select>
        </td>
        <td>
            <mat-select [(ngModel)]="unidadFlujo">
                <mat-option [value]="'Q/N'" class="optionItem"> Q/N </mat-option>
                <mat-option [value]="'&Phi;'" class="optionItem"> &Phi;</mat-option>
            </mat-select>
        </td>
        <td class="nowrap w150px">Grado</td>
        <td>
            <input type="number" *ngIf="tipoAjuste==='Manual'" [(ngModel)]="grado" placeholder="vacio"
                class="w100px centertext">
            <input type="number" disabled *ngIf="tipoAjuste==='Automatico'" [(ngModel)]="grado" placeholder="vacio"
                class="w100px centertext">
        </td>
        <td>
            <button>Ajustar</button>
        </td>

    </div>



    <!-------------------------------------------------------------------------------------------- Resultados de ajuste -->
    <div fxLayout="row" class="pd10" fxLayoutGap="3rem">
        <div fxFlex="20%">
            <table>
                <tr>
                    <th colspan="2">Carácteristicas</th>
                </tr>
                <tr>
                    
                    <td class="nowrap w150px">Diámetro [pulg]</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Límite Q/N de surge</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Límite Q/N de stw</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th colspan="2">Coef.</th>
                </tr>
                <tr>
                    <td class="nowrap w150px">Ajuste<td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Coef.A(1) coe.head</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Coef.A(2) coe.head</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Coef.A(3) coe.head</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Coef.A(4) coe.head</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Exponente</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Error</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="" class="" fxLayoutAlign=" center"> Cargar imagen de referencia
                            <input type="file" name="File Upload" id="csvFileUpload" class="displayNone" />
                        </label>                    
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th colspan="2">Exp.polin.efic.polit.</th>
                </tr>
                <tr>
                    <td class="nowrap w150px">Coef.A(1) efic.polit.</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Coef.A(2) efic.polit.</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Coef.A(3) efic.polit.</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Coef.A(4) efic.polit.</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Exponente</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td class="nowrap w150px">Error</td>
                    <td><input type="number" placeholder="vacio" class="w100px centertext"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="" class="" fxLayoutAlign=" center"> Cargar imagen de referencia
                            <input type="file" name="File Upload" id="csvFileUpload" class="displayNone" />
                        </label>                    
                    </td>
                </tr>
            </table>
        </div>

        <!------------------------------------------------------------------------ entrada de datos para ajuste de polinomios -->
        <div fxFlex="30%">
            <table>
                <tr>
                    <th>Punto</th>
                    <th>{{unidadFlujo}}</th>
                    <th>&mu;</th>
                </tr>

                <tr *ngFor="let item of dataSetCP; let i = index">
                    <td class="nowrap w150px text3 ft13">{{i + 1}}</td>
                    <td class="nowrap w150px text3 ft13">{{item.x}}</td>
                    <td class="nowrap w150px text3 ft13">{{item.y}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Punto</th>
                    <th>{{unidadFlujo}}</th>
                    <th>&eta;</th>
                </tr>

                <tr *ngFor="let item of dataSetEfi; let i = index">
                    <td class="nowrap w150px text3 ft13">{{i + 1}}</td>
                    <td class="nowrap w150px text3 ft13">{{item.x}}</td>
                    <td class="nowrap w150px text3 ft13">{{item.y}}</td>
                </tr>
            </table>
        </div>


        <!---------------------------------------------------------------------------------------- Gráfico -->
        <div fxFlex="50%">
            Gráfico
        </div>

    </div>

    <div fxLayoutAlign="end" fxLayoutGap=".5rem" class="neutralFill1 pd05">
        <button class="standard " (click)="eliminarCurva()">Eliminar</button>
        <button class="accent ">Guardar</button>
    </div>

</div>