.dataImpulsorContainer{
   overflow-x: auto;
   overflow-y: auto;
}

input{
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 12px !important;
    height: 20px;
    background-color: var(--neutral1) !important;
    min-width: 70px !important;
    width: 70px !important;
}

input:focus{
    border: 1px solid var(--stroke1);
    background: var(--control1) !important;
    border-radius: 4px;
}

label{
  margin-top: 0px !important;
}

.simpleSelect{
    text-align: end !important;
    border: none !important;
    height: 30px !important;
    position: relative;
    right: -5px !important;
    background-color: transparent !important;

}


/* Data set Table */

.dataSetTable{
    overflow-y: auto;
    overflow-x: hidden;
    height: 88vh;
}

th{
    min-width: 50px;
    font-size: 13px !important;
    font-weight: 500 !important;
    text-align: center;
}


td{
    min-width: 50px;
    font-size: 11px !important;
    font-weight: 400 !important;
    text-align: center;
}

/* Scrollbar */

::-webkit-scrollbar {
    border-radius: 50%;
    transition: .1 ease;
    width: 8px;
}

::-webkit-scrollbar-track  {
    background: transparent;
}
  
::-webkit-scrollbar-track  {
    background: transparent;
}
  
::-webkit-scrollbar-thumb  {
    background: var(--stroke2);
    border-radius: 4px;
}