<div class="dataImpulsorContainer">
    <!-- Son 3 paneles en row Left, Middle, Right -->
    <div fxLayout="row">

        <!---------------------------------------------------------------------------------- leftContainer -->
        <div class="leftContainer" fxLayout="column" fxLayoutAlign="space-between">

            <div class="mgt10 border-b pdb03" fxLayoutAlign="space-between center">
                <span class="ft500">Parámetros de ajuste</span>
            </div>

            <div fxLayoutAlign="space-between center" class="mgt08">
                <div class="w150px ft12">Ajuste</div>
                <div>
                    <mat-select [(ngModel)]="curva.tipoAjuste" class="simpleSelect">
                        <mat-option value="Automatico" class="optionItem"> Automatico </mat-option>
                        <mat-option value="Manual" class="optionItem"> Manual</mat-option>
                    </mat-select>
                </div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Exp</div>
                <div><input type="number" [(ngModel)]="curva.orden" placeholder="vacio" class="w100px centertext">
                </div>
            </div>

            <!-- Caracteristicas generales del impulsor -->
            <div class="mgt10 border-b pdb03" fxLayoutAlign="space-between center">
                <span class="ft500">Diámetro y limites</span>
            </div>

            <div fxLayoutAlign="space-between center" class="mgt08">
                <div class="w150px ft12">Diámedivo [pulg]</div>
                <div><input type="number" placeholder="vacio" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Límite Q/N de surge</div>
                <div><input type="number" placeholder="vacio" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Límite Q/N de stw</div>
                <div><input type="number" placeholder="vacio" class="w100px centertext"></div>
            </div>

            <!-- Coeficientes calculados de Efic. Politropica -->
            <div class="mgt10 border-b pdb03" fxLayoutAlign="space-between center">
                <span class="ft500">Efic. Politrópica</span>
                <div fxLayoutAlign=" center">
                    <span class="ft12 mgr05">Ref. </span>
                    <mat-icon class="iconButton ft14 aText5">image</mat-icon>
                </div>
            </div>

            <div fxLayoutAlign="space-between center" class="mgt05">
                <div class="w150px ft12">Coef.A(1) coe.head</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.cp1" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Coef.A(2) coe.head</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.cp2" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Coef.A(3) coe.head</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.cp3" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Coef.A(4) coe.head</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.cp4" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Exponente</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.expocp" class="w100px centertext">
                </div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Error</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.errcp" class="w100px centertext"></div>
            </div>

            <!-- Coeficientes calculados de Efic. Politropica -->
            <div class="mgt10 border-b pdb03" fxLayoutAlign="space-between center">
                <span class="ft500">Efic. Politrópica</span>
                <div fxLayoutAlign=" center">
                    <span class="ft12 mgr05">Ref. </span>
                    <mat-icon class="iconButton ft14 aText5">image</mat-icon>
                </div>
            </div>

            <div fxLayoutAlign="space-between center" class="mgt08">
                <div class="w150px ft12">Coef.A(1) efic.polit.</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.ce1" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Coef.A(2) efic.polit.</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.ce2" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Coef.A(3) efic.polit.</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.ce3" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Coef.A(4) efic.polit.</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.ce4" class="w100px centertext"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Exponente</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.expoce" class="w100px centertext">
                </div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="w150px ft12">Error</div>
                <div><input type="number" placeholder="-" [(ngModel)]="curva.errce" class="w100px centertext"></div>
            </div>


            <!-- Botones del leftContainer -->
            <div class="fw mgt10 border-t pdt10" fxLayout="row" fxLayoutGap=".5rem">

                <mat-icon class="iconButton text3 border ft19 shadow8" matTooltip="Descargar formato de carga">
                    table_chart</mat-icon>
                <mat-icon class="iconButton text3 border ft19 shadow8 redFill1 redText"
                    matTooltip="Descargar formato de carga"> delete</mat-icon>
                <label class="textButton border shadow8">
                    <mat-icon class="ft18"
                        matTooltip="Cargar data escaneada (x,y) &#13; &#13; Puedes descargar el modelo de formato de carga haciendo click derecho sobre este boton."
                        matTooltipClass="multiline-tooltip">upload</mat-icon>
                    <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" accept=".csv"
                        (change)="fileChangeListener($event)" class="displayNone" />
                </label>

                <button class="accent fw" (click)="ajustarPolinomios()">Ajustar</button>

            </div>
        </div>

        <!---------------------------------------------------------------------------------- mid Container -->

        <div class="pdl10 pdr10">

            <div fxLayout="row" fxLayoutAlign=" start" class="midContainer">
                <table>
                    <tr class="border-b">
                        <th>Punto</th>
                        <th>{{unidadFlujo}}</th>
                        <th>&mu;</th>
                    </tr>
                    <tr *ngFor="let item of dataSetCP; let i = index">
                        <td class="nowrap text3 ft13">{{i + 1}}</td>
                        <td class="nowrap text3 ft13">{{item.x}}</td>
                        <td class="nowrap text3 ft13">{{item.y}}</td>
                    </tr>
                </table>
                <table>
                    <tr class="border-b">
                        <th>Punto</th>
                        <th>{{unidadFlujo}}</th>
                        <th>&eta;</th>
                    </tr>
                    <tr *ngFor="let item of dataSetEfi; let i = index">
                        <td class="nowrap text3 ft13">{{i + 1}}</td>
                        <td class="nowrap text3 ft13">{{item.x}}</td>
                        <td class="nowrap text3 ft13">{{item.y}}</td>
                    </tr>
                </table>
            </div>
            <div></div>
        </div>

        <!----------------------------------------------------------------------------------- Gráficos -->


    </div>