<div class="border-l topBarContainer pd05" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">

    <span class="mgl10 ft500 ft16">Comportamiento real del tren (Historico)</span>
    <div>
        <input type="datetime-local">
    </div>
    <div>
        <input type="datetime-local">
    </div>
    <mat-icon class="iconButton text3 ft20" [ngClass]="{'selected2': vista === 'dashboard'}" (click)="vista='dashboard'"> bar_chart</mat-icon>
    <mat-icon class="iconButton text3 ft20" [ngClass]="{'selected2': vista === 'lista'}" (click)="vista='lista'"> format_list_numbered</mat-icon>
    <mat-icon class="iconButton text3 ft18">filter_list</mat-icon>
    <mat-icon class="iconButton text3 ft18">settings</mat-icon>
</div>

<div *ngIf="vista==='dashboard'" class="border-l">
    <simulacion-campo-dashboard></simulacion-campo-dashboard>
</div>
<div *ngIf="vista==='lista'" class="border-l">
    <simulacion-campo-lista></simulacion-campo-lista>
</div>