<div fxLayout="column">
    <span class="text3 ft14">Sección</span>
    <mat-select [(ngModel)]="seccionActual" (ngModelChange)="filterImpulsores()" class="mgt05">
        <mat-option *ngFor="let item of secciones" [value]="item" class="optionItem"> Sección {{item}} </mat-option>
    </mat-select>
    <span class="text3 ft14">Sección a simular</span>
    <mat-select [(ngModel)]="curva" class="fw">
        <mat-option *ngFor="let item of filteredImpulsoresEq; let i = index" [value]="item" class="optionItem"> {{i+1}} impulsor
        </mat-option>
    </mat-select>
</div>

<div fxLayoutAlign="space-between center" class="mgt08">
    <div class="mgr20 ft12">Temperatura de Succión</div>
    <div><input [(ngModel)]="TSUC" placeholder="vacio" class="w100px centertext"></div>

    <div class="mgr20 ft12">Dimensión Temperatura</div>
    <mat-select [(ngModel)]="tdim" class="fw">
        <mat-option value="[°F]" class="optionItem"> °F </mat-option>
        <mat-option value="[°C]" class="optionItem"> °C </mat-option>
    </mat-select>
</div>

<div fxLayoutAlign="space-between center" class="mgt08">
    <div class="mgr20 ft12">Presión de Succión</div>
    <div><input [(ngModel)]="PSUC" type="number" placeholder="vacio" class="w100px centertext"></div>
    <div class="mgr20 ft12">Dimensión Presión</div>
    <mat-select [(ngModel)]="pdim" class="fw">
        <mat-option value="[psia]" class="optionItem"> [psia] </mat-option>
        <mat-option value="[psig]" class="optionItem"> [psig] </mat-option>
    </mat-select>
</div>

<div fxLayoutAlign="space-between center" class="mgt08">
    <div class="mgr20 ft12">RPMS</div>
    <div *ngFor="let item of RPMS; let i = index; trackBy:customTrackBy">
        <input [(ngModel)]="RPMS[i]" type="number" placeholder="vacio" class="w100px centertext">
    </div>
</div>
<button (click)="generarMapa()">Generar Mapa</button>
{{dataSets | json}}
<div *ngIf="mostrarTabla">
    <tr *ngFor="let item of dataSets; let i = index">
        <td *ngFor="let elem of item; let j = index">
            {{this.dataSets[i][j]}}
        </td>
    </tr>
    <div *ngIf="mostrarGrafica" class="pd10">
        <google-chart #chart [type]="type" [data]="yData" [options]="options" [columns]="columns">
        </google-chart>
    </div>
</div>