<!-- Prueba de eficiencia -->

<div fxLayout="column" class="pd20">

    <div fxLayout="column" class="w300px">
        <span class="ft24 ft500">Prueba de eficiencia del TREN *TAG*</span>
        <span> Fecha de creación: *fecha*</span>
        <div fxLayout="column">
            <span> Responsable de la recolección de data: *fecha*</span>
            <input type="date">
        </div>
        <div fxLayout="column">
            <span> Consultor responsable de simulación</span>
            <input type="date">
        </div>
        <div fxLayout="column">
            <span> Fecha de inicio de recolección de data</span>
            <input type="datetime-local">
        </div>
        <div fxLayout="column">
            <span> Fecha de fin de recolección de data</span>
            <input type="datetime-local">
        </div>
    </div>

    <hr>

    <div fxLayout="column">
        <span>Tren: {{tren.tag}}</span>
        <span>Num de compresores: {{this.equipos.length}}</span>
    </div>

    <div *ngFor="let equipo of equipos; let i = index" class="pd10 border radius4 ">
        <div>{{equipo.familia}} {{equipo.tag}} </div>
        <div>{{equipo.tipologia}} </div>
        <span>Perdidas de caja</span>
        <span>Perdidas mecanicas</span>

        <div>Curva de sección</div>
        <mat-select value="">
            <mat-option *ngFor="let curva of this.curvas[i].curvas" value="curva.nombre" class="optionItem"> {{curva.nombre}}
            </mat-option>
        </mat-select>

        <span></span>
    </div>





    <div *ngFor="let curva of "></div>



    <div>
        <table>
            <tr>
                <th> Variable de entrada</th>
                <td *ngFor="let item of [1,2,3,4]; let i = index">
                    <input type="number" placeholder="-">
                </td>
            </tr>
            <tr>
                <th> Temp. succ. (dim)</th>
                <th *ngFor="let item of [1,2,3,4]; let i = index">
                    <input type="number" placeholder="-">
                </th>
            </tr>
            <tr>
                <th> Pres. desc. (dim)</th>
                <th *ngFor="let item of [1,2,3,4]; let i = index">
                    <input type="number" placeholder="-">
                </th>
            </tr>
            <tr>
                <th> Temp. desc. (dim) </th>
                <th *ngFor="let item of [1,2,3,4]; let i = index">
                    <input type="number" placeholder="-">
                </th>
            </tr>
            <tr>
                <th> RPM (dim)</th>
                <th *ngFor="let item of [1,2,3,4]; let i = index">
                    <input type="number" placeholder="-">
                </th>
            </tr>
            <tr>
                <th> Flujo (dim) </th>
                <th *ngFor="let item of [1,2,3,4]; let i = index">
                    <input type="number" placeholder="-">
                </th>
            </tr>'
            <tr>
                <th> Flujo (dim) </th>
                <th *ngFor="let item of [1,2,3,4]; let i = index">
                    <a (click)="openCromatografia()" class="ft16">Mezcla</a>
                </th>
            </tr>'


        </table>
    </div>

    <!-- Datos utilizados para una prueba de eficiencia -->
    <span>Fecha de simulacion (new date)</span>
    <span>Quien colecta la data</span>
    <span>Fecha de coleccion de la data</span>
    <span>Usuario que simula (email + nombre)</span>
    <!--  -->

    <!-- Dimensiones default del tren (no se deben poder modificar en la ventana de simulacion)-->
    <!-- Son solo de referencia para el usuario, de meanera que sepa con que variables esta simulando/ -->
    <div fxLayout="column">
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
    </div>

    <!-- Parametros utilizados parala generacion del mapa -->
    <span>Num. RPMS</span>
    <span>Valores de rpm</span>


    <!-- Cromatografias -->
    <span>Inputs de cromatografia sin normalizar</span>
    <span>checkbox para indicar usar cromatografia previa</span>
    <span>Introducir cromatrografia</span>
    <span>cargar cromatografia de libreria</span>

</div>