<!-- Prueba de eficiencia -->

<div fxLayout="column">

    <span>Tren: </span>
    <span>Num de compresores (TAGS y tipologia y nSecciones</span>
    <span>Num de secciones total: </span>

    <!-- por equipo -->
    <span>Perdidas mecanicas: (se traen de la config del compresor) </span>
    <span>Perdidas de caja: (se traen de la config del compresor) </span>

    <!-- Curvas seleccionadas -->
    <span>curva por seccion a utilizar</span>

    <!-- Datos utilizados para una prueba de eficiencia -->
    <span>Fecha de simulacion (new date)</span>
    <span>Quien colecta la data</span>
    <span>Fecha de coleccion de la data</span>
    <span>Usuario que simula (email + nombre)</span>
    <!--  -->

    <!-- Dimensiones default del tren (no se deben poder modificar en la ventana de simulacion)-->
    <!-- Son solo de referencia para el usuario, de meanera que sepa con que variables esta simulando/ -->
    <div fxLayout="column">
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
        <div>
            <span class="w100px">dimension:</span>
            <span class="w100px">seleccionada</span>
        </div>
    </div>

    <!-- Parametros utilizados parala generacion del mapa -->
    <span>Num. RPMS</span>
    <span>Valores de rpm</span>


    <!-- Cromatografias -->
    <span>Inputs de cromatografia sin normalizar</span>
    <span>checkbox para indicar usar cromatografia previa</span>
    <span>Introducir cromatrografia</span>
    <span>cargar cromatografia de libreria</span>

</div>