


<h4>Datos de campo</h4>

<tr>
    <td>Punto</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Mezcla de Gas</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Fecha y Hora</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Num. de ruedas</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Diametro</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Flujo</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Presión succión</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Presión descarga</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Temp. Succión</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>
<tr>
    <td>Temp. Desc.</td>
    <td> select </td>
    <td> <input type="number"> </td>
</tr>

<h4>Propiedades Caracteristicas del Compresor</h4>
<table>
    <tr>
        <td>Flujo Másico</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Potencia Gas</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Eficiencia Politrópica</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Coef. de Flujo Q/N</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Coef.Head Politrópico</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Coeficiente Work Input</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Trabajo Politrópico</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Relación de Compresión</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Relación de Volumen</td>
        <td> select </td>
        <td>X</td>
    </tr>
    <tr>
        <td>Volumen ACFM</td>
        <td> select </td>
        <td>X</td>
    </tr>
</table>

<h4>Propiedades Termodinámincas</h4>

<table>
    <tr>
        <th>Propiedad</th>
        <th>Unidades</th>
        <th>Succión</th>
        <th>Descarga</th>
        <th>Isentrópica</th>
    </tr>

    <tr>
        <td>Temp. </td>
        <td> select </td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Presión </td>
        <td> select </td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Densidad </td>
        <td> select </td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Volumen </td>
        <td> select </td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Entalpía </td>
        <td> select </td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Entropía</td>
        <td> select </td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Calidad </td>
        <td> select </td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Fac. Comp. </td>
        <td> select </td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>Peso molecular</td>
        <td> select </td>
        <td> <input type="number"> </td>
    </tr>
</table>