
<tr>
    <th>C1</th>
    <th>C2</th>
    <th>C3</th>
    <th>iC4</th>
    <th>iC5</th>
    <th>nC5</th>
    <th>Calc</th>
    <th>C6+</th>
    <th>C7</th>
    <th>C8</th>
    <th>C9</th>
    <th>C10</th>
    <th>N2</th>
    <th>C02</th>
    <th>H2S</th>
</tr>
<tr *ngFor="let item of [1,2,3,4,5,6,7,81,2,3,4,5,6,7,81,2,3,4,5,6,7,81,2,3,4,5,6,7,81,2,3,4,5,6,7,81,2,3,4,5,6,7,8]">
    <td>C1</td>
    <td>C2</td>
    <td>C3</td>
    <td>iC4</td>
    <td>iC5</td>
    <td>nC5</td>
    <td>Calc</td>
    <td>C6+</td>
    <td>C7</td>
    <td>C8</td>
    <td>C9</td>
    <td>C10</td>
    <td>N2</td>
    <td>C02</td>
    <td>H2S</td>
</tr>



