<div class="border-l topBarContainer pd05" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">

    <span class="mgl10 ft500 ft16">Comportamiento real del tren (Historico)</span>
    <div>
        <input type="datetime-local">
    </div>
    <div>
        <input type="datetime-local">
    </div>
    <!-- <mat-icon class="iconButton text3 ft20" [ngClass]="{'selected2': vista === 'dashboard'}" (click)="vista='dashboard'"> bar_chart</mat-icon>
    <mat-icon class="iconButton text3 ft20" [ngClass]="{'selected2': vista === 'lista'}" (click)="vista='lista'"> format_list_numbered</mat-icon> -->
    <mat-icon class="iconButton text3 ft18">filter_list</mat-icon>
    <mat-icon class="iconButton text3 ft18">settings</mat-icon>
    <button class="accent" (click)="nuevaSimCampo()"> Agregar set de datos</button>
    <label class="textButton border shadow8">
        <mat-icon class="ft18">upload</mat-icon>
        <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" accept=".csv"
            (change)="fileChangeListener($event)" class="displayNone" />
    </label>
    <button (click)="guardarIndice()">Guardar Indice</button>
</div>
<div class="fw">
    <table class="fw">
        <tr>
            <th [matMenuTriggerFor]="filter" *ngFor="let item of params; let i = index" class="centertext" (click)="clickParam(item.var, i)">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5rem">
                    <span class="text1 ft500 centertext cursorPointer" *ngIf="item.min == null && item.max == null ">{{item.nombre}}</span>
                    <span class="aText5 ft500 centertext cursorPointer" *ngIf="item.min != null || item.max != null ">{{item.nombre}}</span>
                    <mat-icon class="aText5 ft17 " *ngIf="item.min != null || item.max != null ">filter_list</mat-icon>
                </div>
            </th>
        </tr>
        <tr *ngFor="let item of simulaciones" (dblclick)="openSimCampo(item.simId, item.simTimestamp)" class="cursorPointer">
            <!-- <td class="centertext"><mat-checkbox></mat-checkbox></td> -->
            <td class="centertext">{{item.simDate | date: 'dd/MM/yyyy HH:mm'  }}</td>
            <td class="centertext">
                <span class="border sqChip greenFill1">{{item.simTipo }}
                    <span *ngIf="item.simId">*</span>
                </span>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones; let i = index">C: {{sec.numCompresor}} S: {{sec.numSeccion}}</div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.FLUJODES}}</div>
            </td>
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.RPM}}</div></td>
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.PSUC}}</div></td>
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.PDES}}</div></td>
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.TSUC}}</div></td>
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.TDES}}</div> </td>
            <!-- Out -->
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.HP}}</div> </td>
            <td class="centertext">{{item.totHP}}</td>
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.QN}}</div> </td>
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.CFHEAD}}</div> </td>
            <td class="centertext"><div *ngFor="let sec of item.simSecciones">{{sec.EFIC}}</div></td>
        </tr>
    </table>

    <mat-menu #filter="matMenu" class="contextMenu">
        <div class="pdt05 pdl08 pdr08 pdb05" (click)="$event.stopPropagation();">
            <div fxLayoutAlign="space-between center">
                <span class="ft500 ft14">Aplicar filtro</span>
                <mat-icon class="ft18 text3 textButton">close</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap=".5rem" class="mgt10">
                <div fxLayout="column" fxLayoutAlign="center center" class="">
                    <div class="ft12">Max.</div>
                    <input type="number" placeholder="vacio" class=" centertext" [(ngModel)]="actualMin">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="ft12">Min.</div>
                    <input type="number" placeholder="vacio" class=" centertext" [(ngModel)]="actualMax">
                </div>
                <div>
                    <mat-icon class="iconButton white border whiteFill text3 shadow8" (click)="borrarFiltro($event)">
                        delete_outline</mat-icon>
                </div>
                <div>
                    <mat-icon class="accentIconButton" (click)="aplicarFiltro($event)">check</mat-icon>
                </div>
            </div>
        </div>
    </mat-menu>


</div>