<div class="menuContainer neutralFill1 pd05 border-b" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign=" center">
        <mat-icon class="iconButton">more_horiz</mat-icon>
        <span class="mgl05 ft500 ft16">Comportamiento Real Histórico del tren {{trenTag}}</span>
        <!-- <div fxLayout="row" fxLayoutGap=".5rem" class="mgl10 ">
            <mat-icon class="iconButton text3 ft18">filter_list</mat-icon>
            <mat-icon class="iconButton text3 ft18">settings</mat-icon>
        </div> -->
    </div>
    <!-- <mat-icon class="iconButton text3 ft20" [ngClass]="{'selected2': vista === 'dashboard'}" (click)="vista='dashboard'"> bar_chart</mat-icon>
    <mat-icon class="iconButton text3 ft20" [ngClass]="{'selected2': vista === 'lista'}" (click)="vista='lista'"> format_list_numbered</mat-icon> -->
    <mat-icon class="iconButton text3 ft18">filter_list</mat-icon>
    <mat-icon class="iconButton text3 ft18">settings</mat-icon>
    <button class="accent" (click)="nuevaSimCampo()"> Agregar set de datos</button>
    <label class="textButton border shadow8">
        <mat-icon class="ft18">upload</mat-icon>
        <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" accept=".csv"
            (change)="fileChangeListener($event)" class="displayNone" />
    </label>
    <button (click)="guardarIndice()">Guardar Indice</button>
    <button (click)="simularMasivamenteAdim()">Simular Adim</button>
    <button (click)="simularMasivamenteTeorica()">Simular Teorica</button>
    <button (click)="borrarPuntos()">Borrar puntos</button>
</div>
<div class="fw">
    <button (click)="marcarTodos()">Marcar Todos</button>
    <button (click)="marcarTodosNoSim()">Marcar Todos No Simulados</button>
    <button (click)="desmarcarTodos()">Desmarcar Todos</button>
    <table *ngIf="simulaciones.length != 0" class="fw">
        <tr>
            <th [matMenuTriggerFor]="filter" *ngFor="let item of params; let i = index" class="centertext"
                (click)="clickParam(item.var, i)">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5rem">
                    <span class="text1 ft500 centertext cursorPointer"
                        *ngIf="item.filtered == false">{{item.nombre}}</span>
                    <span class="aText5 ft500 centertext cursorPointer" 
                        *ngIf="item.filtered == true">{{item.nombre}}</span>
                    <mat-icon class="aText5 ft17 " *ngIf="item.filtered == true">filter_list</mat-icon>
                </div>
            </th>
        </tr>
        <tr *ngFor="let item of filteredSimulaciones" (dblclick)="openSimCampo(item.simId, item.simTimestamp)" class="cursorPointer">
            <td class="centertext" ><mat-checkbox [(ngModel)]="item.checked" (change)="incluir($event, item.simTimestamp)"></mat-checkbox></td>
            <td class="centertext">{{item.simTimestamp/10000 | date: 'dd/MM/yyyy HH:mm'  }}</td>
            <td class="centertext">
                <span class="border sqChip greenFill1">{{item.simTipo }}</span>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones; let i = index">C: {{sec.numCompresor}} S: {{sec.numSeccion}}
                </div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.FLUJODES  | number: '1.2-2'}}</div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.RPM  | number: '1.2-2'}}</div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.PSUC  | number: '1.2-2'}}</div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.PDES  | number: '1.2-2'}}</div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.TSUC  | number: '1.2-2'}}</div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.TDES  | number: '1.2-2'}}</div>
            </td>
            <!-- Out -->
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.HPGAS | number: '1.2-2'}}</div>
            </td>
            <td class="centertext">{{item.simTren.HPGAS| number: '1.2-2'}}</td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.QN | number: '1.2-2'}}</div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.CFHEAD | number: '1.3-3'}}</div>
            </td>
            <td class="centertext">
                <div *ngFor="let sec of item.simSecciones">{{sec.EFIC | number: '1.3-3'}}</div>
            </td>
        </tr>
    </table>
    <div *ngIf="simulaciones.length == 0">
        <span class="center center"> Inserte data de simulación</span>
    </div>
    <!-- {{listaSimulaciones | json}} -->

    <mat-menu #filter="matMenu" class="contextMenu">
        <div *ngIf="simulaciones.length != 0" class="pdt05 pdl08 pdr08 pdb05" (click)="$event.stopPropagation();">
            <div fxLayoutAlign="space-between center">
                <span class="ft500 ft14">Aplicar filtro</span>
                <mat-icon class="ft18 text3 textButton">close</mat-icon>
            </div>
            <div *ngIf="this.selectedParam != 'hpgastot' && this.selectedParam != 'fecha'">
                <div *ngFor="let sec of simulaciones[0].simSecciones; let i= index; trackBy:trackByIdx">
                    <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap=".5rem" class="mgt10">
                        <span>C: {{sec.numCompresor}} S: {{sec.numSeccion}}</span>
                        <div fxLayout="column" fxLayoutAlign="center center" class="">
                            <div class="ft12">Min.</div>
                            <input type="number" placeholder="vacio" class=" centertext" [(ngModel)]="this.range[i].min">
                        </div>
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <div class="ft12">Max.</div>
                            <input type="number" placeholder="vacio" class=" centertext" [(ngModel)]="this.range[i].max">
                        </div>
                        <div>
                            <mat-icon class="iconButton white border whiteFill text3 shadow8" (click)="borrarFiltro($event, i)">
                                delete_outline</mat-icon>
                        </div>
                        <div>
                            <mat-icon class="accentIconButton" (click)="aplicarFiltro($event, i)">check</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.selectedParam == 'hpgastot'">
                    <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap=".5rem" class="mgt10">
                        <div fxLayout="column" fxLayoutAlign="center center" class="">
                            <div class="ft12">Min.</div>
                            <input type="number" placeholder="vacio" class=" centertext" [(ngModel)]="this.range[0].min">
                        </div>
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <div class="ft12">Max.</div>
                            <input type="number" placeholder="vacio" class=" centertext" [(ngModel)]="this.range[0].max">
                        </div>
                        <div>
                            <mat-icon class="iconButton white border whiteFill text3 shadow8" (click)="borrarFiltro($event, 0)">
                                delete_outline</mat-icon>
                        </div>
                        <div>
                            <mat-icon class="accentIconButton" (click)="aplicarFiltro($event, 0)">check</mat-icon>
                        </div>
                    </div>
            </div>
            <div *ngIf="this.selectedParam == 'fecha'">
                <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap=".5rem" class="mgt10">
                    <div fxLayout="column" fxLayoutAlign="center center" class="">
                        <div class="ft12">Min.</div>
                        {{fechaMin | json}}
                        <input type="datetime-local" placeholder="vacio" class=" centertext" [(ngModel)]="fechaMin">
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div class="ft12">Max.</div>
                        {{fechaMax | json}}
                        <input type="datetime-local" placeholder="vacio" class=" centertext" [(ngModel)]="fechaMax">
                    </div>
                    <div>
                        <mat-icon class="iconButton white border whiteFill text3 shadow8" (click)="borrarFiltro($event, 0)">
                            delete_outline</mat-icon>
                    </div>
                    <div>
                        <mat-icon class="accentIconButton" (click)="aplicarFiltro($event, 0)">check</mat-icon>
                    </div>
                </div>
        </div>
        </div>
    </mat-menu>


</div>