<div class="fw">
    <table class="fw">
        <tr>
            <th [matMenuTriggerFor]="filter" *ngFor="let item of params; let i = index" class="centertext" (click)="clickParam(item.var, i)">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5rem">
                    <span class="text1 ft500 centertext cursorPointer" *ngIf="item.min == null && item.max == null ">{{item.nombre}}</span>
                    <span class="aText5 ft500 centertext cursorPointer" *ngIf="item.min != null || item.max != null ">{{item.nombre}}</span>
                    <mat-icon class="aText5 ft17 " *ngIf="item.min != null || item.max != null ">filter_list</mat-icon>
                </div>
            </th>
        </tr>
        <tr *ngFor="let item of [1,2,3,4,5,6,7,6,5,6,7,5,3]" (dblclick)="openDialogResultados()" class="cursorPointer">
            <td class="centertext">22-06-09</td>
            <td class="centertext">
                <span class="border sqChip greenFill1">R + T</span>
            </td>
            <td class="centertext">Mezcla Nombre</td>
            <td class="centertext">70</td>
            <td class="centertext">70</td>
            <td class="centertext">180</td>
            <td class="centertext">140</td>
            <td class="centertext">70</td>
            <td class="centertext">5600 </td>
            <!-- Out -->
            <td class="centertext">5600 </td>
            <td class="centertext">9000 </td>
            <td class="centertext">.76 </td>
            <td class="centertext">1.4 </td>
            <td class="centertext">160</td>
        </tr>
    </table>

    <mat-menu #filter="matMenu" class="contextMenu">
        <div class="pdt05 pdl08 pdr08 pdb05" (click)="$event.stopPropagation();">
            <div fxLayoutAlign="space-between center">
                <span class="ft500 ft14">Aplicar filtro</span>
                <mat-icon class="ft18 text3 textButton">close</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap=".5rem" class="mgt10">
                <div fxLayout="column" fxLayoutAlign="center center" class="">
                    <div class="ft12">Max.</div>
                    <input type="number" placeholder="vacio" class=" centertext" [(ngModel)]="actualMin">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <div class="ft12">Min.</div>
                    <input type="number" placeholder="vacio" class=" centertext" [(ngModel)]="actualMax">
                </div>
                <div>
                    <mat-icon class="iconButton white border whiteFill text3 shadow8" (click)="borrarFiltro($event)">
                        delete_outline</mat-icon>
                </div>
                <div>
                    <mat-icon class="accentIconButton" (click)="aplicarFiltro($event)">check</mat-icon>
                </div>
            </div>
        </div>
    </mat-menu>

    <button class="accent" (click)="openDialogResultados()"></button>

    <button class="accent" routerLink="/psico/proyecto/{{proyectoId}}/tren/{{trenTag}}/sim-campo-config">nueva sim campo</button>

    

</div>