<div fxLayout="column" fxLayoutAlign="center center">

    <div >

    <div fxLayout="row" fxLayoutGap="3rem">

        <div fxLayout="column" class="pdr30 border-r">

            <div fxLayout="column" fxLayoutAlign="center center" class="fw relative">

                <span class="tagText">GB-5200A</span>
                <img *ngIf="compresor.tipologia ==='Inline'" [src]="icon.inline" class="equipoContainer">
                <img *ngIf="compresor.tipologia ==='Back to Back'" [src]="icon.b2b" class="equipoContainer">
            </div>

            <div class="mgt20">
                <span class="ft500">Datos generales</span>
            </div>

            <div fxLayoutAlign="space-between center" class="mgt08">
                <div class="mgr10 ft12 text2 nowrap">Tag</div>
                <div><input type="text" [(ngModel)]="compresor.tag" placeholder="vacio" class="inputText"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="mgr10 ft12 text2 nowrap">Nombre</div>
                <div><input type="text" [(ngModel)]="compresor.nombre" placeholder="vacio" class="inputText"></div>
            </div>

            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="mgr10 ft12 text2 nowrap ">Familia</div>
                <div><input type="text" [(ngModel)]="compresor.familia" placeholder="vacio" class="inputText"></div>
            </div>

            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="mgr10 ft12 text2 nowrap ">Tipología</div>
                <div><input type="text" [(ngModel)]="compresor.familia" placeholder="vacio" class="inputText"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="mgr10 ft12 text2 nowrap ">Secciones</div>
                <div><input type="number" [(ngModel)]="compresor.secciones" placeholder="vacio" class="inputText">
                </div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="mgr10 ft12 text2 nowrap ">Fabricante</div>
                <div><input type="text" [(ngModel)]="compresor.fabricante" placeholder="vacio" class="inputText">
                </div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="mgr10 ft12 text2 nowrap ">Modelo</div>
                <div><input type="text" [(ngModel)]="compresor.modelo" placeholder="vacio" class="inputText"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="mgr10 ft12 text2 nowrap">Serial</div>
                <div><input type="text" [(ngModel)]="compresor.modelo" placeholder="vacio" class="inputText"></div>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <div class="mgr10 ft12 text2 nowrap">Servicio</div>
                <div><input type="text" [(ngModel)]="compresor.servicio" placeholder="vacio" class="inputText"></div>
            </div>
          
        </div>

        <div>
            <div *ngFor="let item of [1,2]; let i = index" class="mgb10">
                <div>
                    <span class="ft500">Datos de diseño - </span>
                    <span class="ft500">Sección {{i}}</span>
                </div>
                <div fxLayoutAlign="space-between center" class="mgt08">
                    <div class="mgr20 ft12 text2 nowrap">Num Impulsores</div>
                    <div><input type="number" [(ngModel)]="compresor.numImpulsores" placeholder="vacio"
                            class="inputNumber"></div>
                </div>
                <div fxLayoutAlign="space-between center" class="mgt03">
                    <div class="mgr20 ft12 text2 nowrap">Diametro Eq.</div>
                    <div><input type="number" [(ngModel)]="compresor.diametroEq" placeholder="vacio"
                            class="inputNumber">
                    </div>
                </div>
                <div fxLayoutAlign="space-between center" class="mgt03">
                    <div class="mgr20 ft12 text2 nowrap">RPM Diseño</div>
                    <div><input type="number" [(ngModel)]="compresor.rpmDiseno" placeholder="vacio" class="inputNumber">
                    </div>
                </div>
                <div fxLayoutAlign="space-between center" class="mgt03">
                    <div class="mgr20 ft12 text2 nowrap">RPM Rated</div>
                    <div><input type="number" [(ngModel)]="compresor.rpmRated" placeholder="vacio" class="inputNumber">
                    </div>
                </div>
                <div fxLayoutAlign="space-between center" class="mgt03">
                    <div class="mgr20 ft12 text2 nowrap">Tipo driver</div>
                    <div><input type="text" [(ngModel)]="compresor.tipoDriver" placeholder="vacio" class="inputNumber">
                    </div>
                </div>
                <div fxLayoutAlign="space-between center" class="mgt03">
                    <div class="mgr20 ft12 text2 nowrap">Perdidas mecánicas</div>
                    <div><input type="text" [(ngModel)]="compresor.tipoDriver" placeholder="vacio" class="inputNumber">
                    </div>
                </div>
                <div fxLayoutAlign="space-between center" class="mgt03">
                    <div class="mgr20 ft12 text2 nowrap">Perdidas de caja</div>
                    <div><input type="text" [(ngModel)]="compresor.tipoDriver" placeholder="vacio" class="inputNumber">
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column">
            <div>
                <span class="ft500">Dimensiones de simulación</span>
            </div>

            <div fxLayoutAlign="space-between center" class="mgt08">
                <span class="mgr20 ft12 text2 nowrap">Flujo</span>
                <mat-select [(ngModel)]="tren.dimensiones.flujo" class="dimSelect">
                    <mat-option *ngFor="let item of dims.flujo" [value]="item" class="optionItem"> {{item}}
                    </mat-option>
                </mat-select>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <span class="mgr20 ft12 text2 nowrap">Temperatura</span>
                <mat-select [(ngModel)]="tren.dimensiones.temperatura" class="dimSelect">
                    <mat-option *ngFor="let item of dims.temperatura" [value]="item" class="optionItem"> {{item}}
                    </mat-option>
                </mat-select>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <span class="mgr20 ft12 text2 nowrap">Diametros</span>
                <mat-select [(ngModel)]="tren.dimensiones.diametro" class="dimSelect">
                    <mat-option *ngFor="let item of dims.diametro" [value]="item" class="optionItem"> {{item}}
                    </mat-option>
                </mat-select>
            </div>
            <div fxLayoutAlign="space-between center" class="mgt03">
                <span class="mgr20 ft12 text2 nowrap">Presion</span>
                <mat-select [(ngModel)]="tren.dimensiones.presion" class="dimSelect">
                    <mat-option *ngFor="let item of dims.presion" [value]="item" class="optionItem"> {{item}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        
    </div>
    <div fxLayoutAlign="end" class="mgt05 fw">
        <div fxLayout="row" fxLayoutGap=".5rem">
            <button class="standard">Eliminar</button>
            <button class="accent">Guardar</button>
        </div>
    </div>
    </div>


</div>