.firstRow{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: var(--neutral1);
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border: solid 1px var(--stroke1);
    border-bottom: 0px;
}


.containerData{
    padding: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.titleContainer{
    margin-top: 12px;
    margin-bottom: 12px;
}

.title{
    margin-top: 2px;
    font-weight: 500;
}

::ng-deep input{
    border: 1px solid transparent;
    border-radius: 0px;
    height: 28px;
}

::ng-deep input:focus{
    border: 1px solid var(--stroke1);
    background: var(--control1) !important;
    border-radius: 4px;
}

::ng-deep tr{
    height: 32px;
}

th{
    color: var(--text2);
    background: var(--neutral1) !important;
}

td{
    color: var(--text1);
    font-size: 14px;
}


.inputText{
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 12px !important;
    height: 24px;
    background-color: var(--neutral1) !important;
    min-width: 250px !important;
    width: 250px;
}

.inputNumber{
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 12px !important;
    height: 24px;
    background-color: var(--neutral1) !important;
    min-width: 70px !important;
    width: 70px;
}

input:focus{
    border: 2px solid var(--accent5);
    background: var(--control1) !important;
    border-radius: 4px;
}

.dimSelect{
    text-align: end !important;
    border: none !important;
    height: 30px !important;
    position: relative;
    right: -5px !important;
    background-color: var(--neutral1) !important;
    border: 1px solid;
    font-size: 9px !important;
    height: 24px !important;
    min-width: 90px !important;
    width: 90px;
}

.equipoContainer{
    height: 180px;
    width: 180px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: .5rem;
}


.tagText{ 
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 76px;
    z-index: 100;
}