<div class="pd30 neutralFill1">
    <div class="titleBar">
        <span>Title goes here</span>
    </div>
    <div class="menuToolbar fw border-b">
        <span class="textButton"  [ngClass]="{'selected2': tabSelected === 'datosTecnicos'}" (click)="tabSelect('datosTecnicos')">Datos Técnicos</span>
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'cromatografia'}" (click)="tabSelect('cromatografia')">Cromatografia</span>
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'mapas'}" (click)="tabSelect('mapas')">Mapas</span>
   </div>

    <cromatografia *ngIf="tabSelected==='cromatografia'"></cromatografia>
</div>
