<div class="menuToolbar fw border-b">
    <span class="textButton" [ngClass]="{'selected2': tabSelected === 'general'}"
        (click)="tabSelect('general')">General</span>
    <!-- <span class="textButton" [ngClass]="{'selected2': tabSelected === 'datosTecnicos'}"
        (click)="tabSelect('datosTecnicos')">Puntos Datasheet</span> -->
    <span class="textButton" [ngClass]="{'selected2': tabSelected === 'curvas'}"
        (click)="tabSelect('curvas')">Curvas</span>
    <span class="textButton" [ngClass]="{'selected2': tabSelected === 'mapas'}"
        (click)="tabSelect('mapas')">Mapas</span>
    <span class="textButton" [ngClass]="{'selected2': tabSelected === 'documentos'}"
        (click)="tabSelect('documentos')">Documentos</span>
</div>

<div class="pd08">
    <info-general-compresor *ngIf="tabSelected==='general'"></info-general-compresor>
    <!-- <datasheet-puntos-compresor *ngIf="tabSelected==='datosTecnicos'"></datasheet-puntos-compresor> -->
    <curvas-compresor *ngIf="tabSelected==='curvas'"></curvas-compresor>
    <mapas-compresor *ngIf="tabSelected==='mapas'"></mapas-compresor>
    <documentos *ngIf="tabSelected==='documentos'"></documentos>
</div>