<div fxLayoutAlign="space-between center" class="containerMenu">

    <div class="centertext" fxLayoutAlign=" center">
        <span class="mgl05 ft16 ft500 text2 cursorPointer textButton" [routerLink]="['/psico/proyecto/',id]">
            {{proyecto.titulo}}
            <mat-icon class="ft20">keyboard_arrow_right</mat-icon>
        </span>

        <span class="ft16 ft500 text2 cursorPointer textButton"
            [routerLink]="['/psico/proyecto/',id,'tren',trenTag]">{{trenTag}}
            <mat-icon class="ft20">keyboard_arrow_right</mat-icon>
        </span>
        <span class="mgl10 ft16 ft500 text2">{{tagEquipo}}</span>
    </div>

    <div class="mgl30 menuToolbar">
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'general'}"
            (click)="tabSelect('general')">General</span>
        <!-- <span class="textButton" [ngClass]="{'selected2': tabSelected === 'datosTecnicos'}"
        (click)="tabSelect('datosTecnicos')">Puntos Datasheet</span> -->
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'curvas'}"
            (click)="tabSelect('dims')">Dimensiones</span>
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'curvas'}"
            (click)="tabSelect('curvas')">Curvas</span>
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'mapas'}"
            (click)="tabSelect('mapas')">Mapas</span>
        <span class="textButton" [ngClass]="{'selected2': tabSelected === 'documentos'}"
            (click)="tabSelect('documentos')">Documentos</span>
    </div>

    <div>
        <div fxLayout="row" fxLayoutAlign=" center" class="containerUsuario">
            <!-- <span class="nombreUsuario">{{primerNombre}}</span>
            <div *ngIf="!usuario.photoURL" class="letterContainer">{{primeraLetra}}</div>
            <img *ngIf="usuario.photoURL"  [src]="usuario.photoURL" class="avatarImg"> -->
            <span class="nombreUsuario">Andres</span>
            <div class="letterContainer">A</div>
        </div>
    </div>

    <!-- <mat-menu #menu="matMenu" class="contextMenu">
        <li class="menuItem fw ft14" routerLink="/admin/lista-cursos" *ngIf="auth.isAdmin(usuario)">Admin Dashb.</li>
        <li class="menuItem fw ft14" routerLink="/est/mi-cuenta">Mi cuenta</li>
        <li class="menuItem fw ft14" >Política de privacidad</li>
        <li class="menuItem fw ft14">Términos y condiciones</li>
        <li class="menuItem fw ft14">Política de cookies</li>
        <li class="menuItem fw ft14" (click)="auth.signOut()">Cerrar sesión</li>
    </mat-menu> -->

    <!-- <div></div> -->

</div>

<div class="contentContainer">
    <info-general-compresor *ngIf="tabSelected==='general'"></info-general-compresor>
    <compresor-dims *ngIf="tabSelected==='dims'"></compresor-dims>
    <!-- <datasheet-puntos-compresor *ngIf="tabSelected==='datosTecnicos'"></datasheet-puntos-compresor> -->
    <curvas-compresor *ngIf="tabSelected==='curvas'"></curvas-compresor>
    <mapas-compresor *ngIf="tabSelected==='mapas'"></mapas-compresor>
    <documentos *ngIf="tabSelected==='documentos'"></documentos>
</div>