<!-- Prueba de eficiencia -->
<!-- °F : <input type="number" [(ngModel)]="F" (click)="cambiando='F'" (ngModelChange)="cambiar()">
°C: <input type="number"  [(ngModel)]="C" (click)="cambiando='C'" (ngModelChange)="cambiar()">
°K: <input type="number"  [(ngModel)]="K" (click)="cambiando='K'" (ngModelChange)="cambiar()"> -->

<div fxLayout="column" class="border-l pd20">
    <span class="ft24 ft500">Simulacion Teorica del TREN {{tren.tag}} - Prueba: {{pruebaId}}</span>
    <span class="mgt10 ft16"> Fecha de creación: *fecha*</span>
    <div fxLayout="column" class="border-t pdt20 ft500 ft16 mgt10 mgb10">
        <span>Tren: {{tren.tag}}</span>
        <span>Num de compresores: {{this.equipos.length}}</span>
    </div>
    <hr>


    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem" fxFlex="100%">
        <div *ngFor="let seccion of this.simulaciones; let j = index"
            class="pd10 border radius4 shadow8 whiteFill w300px">
            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="ft500 ft14">{{seccion.equipoFamilia}} {{seccion.equipoTag}}</span>
                    <mat-icon class="iconButton ft16"
                        routerLink="/psico/proyecto/{{proyecto.id}}/equipo/{{tren.tag}}/{{seccion.equipoTag}}">settings
                    </mat-icon>
                </div>
                <div class="ft13 text3">{{seccion.equipoTipologia}}</div>
                <div class="ft12 text3">Perdidas de caja</div>
                <div class="ft12 text3">Perdidas mecanicas</div>
            </div>
            <div class="mgt10 ft13">Curva de sección {{seccion.seccion}} *</div>
            <mat-select [(ngModel)]="seccion.curva.nombre">
                <mat-option *ngFor="let item of seccion.curvas" [value]="item.nombre" class="optionItem"
                    (click)="cambioCurva(j, item)">
                    {{item.nombre}}
                </mat-option>
            </mat-select>
            <table class="mgt10">
                <tr>
                    <th> Temp. succ. {{seccion.inputs.TDIM}} *</th>
                    <td class="">
                        <input type="number" [(ngModel)]="seccion.inputs.TSUC" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Pres. succ. {{seccion.inputs.PDIM}} <span *ngIf="j == 0">*</span></th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.inputs.PSUC" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> RPM *</th>
                    <td>
                        <input *ngIf="j==0" type="number" [(ngModel)]="seccion.inputs.RPM" placeholder="-"
                            (ngModelChange)="actualizarRPMS()" class="inputNumber">
                        <input *ngIf="j!=0" type="number" [(ngModel)]="seccion.inputs.RPM" placeholder="-"
                            class="inputNumber" readonly>
                    </td>
                </tr>
                <tr>
                    <th> Rel.de Velocidad c/r al tren * </th>
                    <td>
                        <input *ngIf="j==0" type="number" [(ngModel)]="seccion.inputs.RELVEL" placeholder="-"
                            class="inputNumber" readonly>
                        <input *ngIf="j!=0" type="number" [(ngModel)]="seccion.inputs.RELVEL" placeholder="-"
                            (ngModelChange)="actualizarRPMS()" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Flujo {{seccion.inputs.QDIM}} * </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.inputs.FLUJOSUC" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Extracción de gas {{seccion.inputs.QDIM}} </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.inputs.QEXT" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Caida de presion {{seccion.inputs.PDIM}} </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.inputs.CAIPRES" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <!-- Descripcion de curva -->
                <!-- <tr>
                    <th> Diametro *</th>
                    <td class="">
                        <input type="number" [(ngModel)]="seccion.curva.diametro" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Limite Q/N de surge <span *ngIf="j == 0">*</span></th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.limSurge" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Limite Q/N de stw </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.limStw" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Exp. polin. coef. head </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.expocp" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Coef. A(1) coef.head </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.cp1" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Coef. A(2) coef.head  </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.cp2" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Coef. A(3) coef.head </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.cp3" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Coef. A(4) coef.head </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.cp4" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Exp. polin. efic. polit. </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.expoce" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Coef. A(1) efic. polit </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.ce1" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Coef. A(2) efic. polit  </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.ce2" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Coef. A(3) efic. polit </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.ce3" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Coef. A(4) efic. polit </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.curva.ce4" placeholder="-" class="inputNumber">
                    </td>
                </tr> -->
                <!-- Mezcla -->
                <tr>
                    <th> Mezcla *</th>
                    <td>
                        <a class="ft12" (click)="openCromatografia(j)">
                            <div>Mezcla</div>
                            <div>{{seccion.inputs.Mezcla.nombre}}</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="fw border-t mgt30 pdt10 pdb10 ">
        <button (click)="guardarSimulacion()">Guardar Simulación</button>
        <button (click)="simular()">Simular</button>
        <button (click)="generarMapas()">Generar Mapa</button>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap=".5rem" fxFlex="100%">
        <div *ngFor="let seccion of this.simulaciones; let j = index"
            class="pd10 border radius4 shadow8 whiteFill w300px">
            <div>
                <div class="ft500 ft14"> Resultado </div>
            </div>
            <table class="mgt10">
                <tr>
                    <th> Temp. succ. [°F]</th>
                    <td class="">
                        <input type="number" [(ngModel)]="seccion.outputTeorico.TSUC" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Pres. succ. [psig]</th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.PSUC" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> RPM </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.RPM" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Flujo [MMSCFD] </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.FLUJODES" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Presion de descarga [psig] </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.PDES" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Temperatura de descarga [°F] </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.TDES" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Hp Gas </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.HPGAS" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Entalpia[btu/lbmol] </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.HDES" placeholder="-" class="inputNumber">
                    </td>
                </tr>.<tr>
                    <th> Densidad [lbm/ft3] </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.DENDES" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Q/N Surge: </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.SURGE" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Q/N: </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.QN" placeholder="-" class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th> Q/N stw </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.STONEW" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th>Coef. Head </th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.CFHEADPOLI" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th>Eficiencia Politrópica</th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.EFICPOLI" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
                <tr>
                    <th>Exp. polit</th>
                    <td>
                        <input type="number" [(ngModel)]="seccion.outputTeorico.EXPPOLI" placeholder="-"
                            class="inputNumber">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div fxLayout="row">
        <button (click)="armarGrafica('presion')" class="accent">Graficar Presion</button>
        <button (click)="armarGrafica('eficiencia')" class="accent">Graficar Eficiencia</button>
        <button (click)="armarGrafica('potencia')" class="accent">Graficar Potencia</button>
    </div>
    <div>
        <div>
            Mapas:
        </div>
        <div *ngIf="mostrarGrafica" fxLayout="row" class="pd10">
            <div *ngFor="let seccion of simulaciones; let i = index">
                <google-chart #chart [type]="type" [data]="mapas[i]" [options]="opciones[i]" [columns]="columnas[i]">
                </google-chart>
            </div>
        </div>
    </div>

</div>