<div>
<div fxLayout="row" class="pd10 h400px">


    <div fxLayout="column" fxLayoutAlign="center center" class="fh">
        <form [formGroup]="form" class="w300px pd10">
            <div>
                <tr>
                    <td class="w100px">Tag </td>
                    <td> <input type="text" formControlName="tag" placeholder="Vacio"></td>
                </tr>
                <tr>
                    <td>Familia</td>
                    <td>
                        <mat-select *ngIf="!data" formControlName="familia" class="fw">
                            <mat-option value="Compresor" class="optionItem"> Compresor </mat-option>
                            <mat-option value="Turbina" class="optionItem"> Turbina</mat-option>
                        </mat-select>
                    </td>
                </tr>
                <tr>
                    <td>Tipologia</td>
                    <td>
                        <mat-select *ngIf="this.form.controls['familia'].value =='Compresor'"
                            formControlName="tipologia" class="fw">
                            <mat-option value="Inline" class="optionItem"> Inline </mat-option>
                            <mat-option value="Double Suction" class="optionItem"> Double Suction</mat-option>
                            <mat-option value="Double Discharge" class="optionItem"> Double Discharge</mat-option>
                            <mat-option value="Back to Back" class="optionItem"> Back to Back</mat-option>
                            <mat-option value="Streamline" class="optionItem"> Streamline</mat-option>
                        </mat-select>
                    </td>
                </tr>

            </div>
        </form>
    </div>

    <!-- <label for="">Tag de equipo</label>
    <label *ngIf="!data" for="">Tipo de Equipo</label> -->

    <!-- <label *ngIf="!data" for="">Tipologia</label>
    <div *ngIf="!data">

        <mat-select *ngIf="this.form.controls['familia'].value =='Turbina'" formControlName="tipologia" class="fw">
            <mat-option value="Turbina" class="optionItem"> Turbina </mat-option>
        </mat-select>
    </div> -->

    <div fxLayout="column" fxLayoutAlign="center" class="mgl10 fh w200px mgr20 ">
        <img *ngIf="this.form.controls['tipologia'].value ==='Inline'" [src]="icon.inline" class="equipoIcon">
        <img *ngIf="this.form.controls['tipologia'].value ==='Double Suction'" [src]="icon.doubleSuction"
            class="equipoIcon">
        <img *ngIf="this.form.controls['tipologia'].value ==='Double Discharge'" [src]="icon.doubleDischarge"
            class="equipoIcon">
        <img *ngIf="this.form.controls['tipologia'].value ==='Back to Back'" [src]="icon.b2b" class="equipoIcon">
        <img *ngIf="this.form.controls['tipologia'].value ==='Streamline'" [src]="icon.streamline"
            class="equipoIcon">
    </div>
</div>
<div class="neutralFill1 pd05" fxLayoutAlign="end">
    <button class="accent" (click)="guardar()">Crear equipo</button>
</div>

</div>