<div fxLayout="row" fxLayoutGap="2rem">

    <div class="w200px">

        <span>Sección</span>
        <mat-select [(ngModel)]="seccionActual">
            <mat-option [value]="'1'" class="optionItem"> Sección 1 </mat-option>
            <mat-option [value]="'2'" class="optionItem"> Sección 2</mat-option>
        </mat-select>
        <hr>

        <mat-checkbox> </mat-checkbox>
        <span class="ft16 cursorPointer nowrap">
            Impulsor equivalente
        </span>

        <hr>

        <div *ngFor="let item of [1,2,3,4]; let i = index">
            <mat-checkbox> </mat-checkbox>
            <span (click)="seleccionarImpulsor(i)" (dblclick)="openDialogPolinomios()"
                class="mgl05 ft16 cursorPointer impulsor"
                [ngClass]="{'impulsorSeleccionado': impulsorSeleccionado == i}">
                Impulsor {{i + 1}}
                <div class="impulsorInfoTooltip">
                    <div class="mainTitleContainer">
                        <td colspan="2" class="title ft14">Coeficientes calculados</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Diámetro [pulg]</td>
                        <td>value</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Límite Q/N de surge</td>
                        <td>value</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Límite Q/N de stw</td>
                        <td>value</td>
                    </div>
                    <div class="titleContainer">
                        <td colspan="2" class="title">Exp.polin.coef.head</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Coef.A(1) coe.head</td>
                        <td>value</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Coef.A(2) coe.head</td>
                        <td>value</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Coef.A(3) coe.head</td>
                        <td>value</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Coef.A(4) coe.head</td>
                        <td>value</td>
                    </div>
                    <div class="titleContainer">
                        <td colspan="2" class="title">Exp.polin.efic.polit.</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Coef.A(1) efic.polit.</td>
                        <td>value</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Coef.A(2) efic.polit.</td>
                        <td>value</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Coef.A(3) efic.polit.</td>
                        <td>value</td>
                    </div>
                    <div>
                        <td class="nowrap w150px">Coef.A(4) efic.polit.</td>
                        <td>value</td>
                    </div>
                </div>
            </span>
        </div>
        <br>
        <button class="standard">agregar</button>

    </div>
    <div class="neutralFill1 fh fw">
        Grafico container
    </div>

</div>