<div fxLayout="row" fxLayoutGap="2rem">

    <div>

        <div class="border radius4 pd10">

            <div fxLayout="column" >
                <span class="text3 ft14">Sección</span>
                <mat-select [(ngModel)]="seccionActual" (ngModelChange)="filterImpulsores()" class="mgt05">
                    <mat-option *ngFor="let item of secciones" [value]="item" class="optionItem"> Sección {{item}} </mat-option>
                </mat-select>
            </div>

            <div class="mgt20">
                <p class="ft14 text3 ft500 pdb05 border-b mgb10">Impulsor equivalente</p>
            </div>

            <div fxLayout="column" >
                <span class="text3 ft14">Impulsor de simulación teórico</span>
                <mat-select [(ngModel)]="seccionActual" (ngModelChange)="filterImpulsores()" class="mgt05">
                    <mat-option *ngFor="let item of secciones" [value]="item" class="optionItem"> Sección {{item}} </mat-option>
                </mat-select>
            </div>


            <!-- Impulsor equivalente de fabricante -->
            <div fxLayout="row" fxLayoutAlign=" center">
                <mat-checkbox> </mat-checkbox>

                <!-- <span class="impText text3" (dblclick)="openDialogPolinomios()">
                Cargar impulsor equivalente (Fabricante)
            </span> -->

                <span (click)="seleccionarImpulsorEquivalente('fabricante')" (dblclick)="openDialogPolinomios(0,true)"
                    class="impText text3" [ngClass]="{'impSel': impEqSel === 'fabricante'}">
                    Impulsor equivalente (Fabricante) {{flagEqFab}}
                </span>
            </div>

            <!-- Impulsor equivalente generado en psico -->
            <div fxLayout="row" fxLayoutAlign=" center" class="w300px">
                <mat-checkbox> </mat-checkbox>

                <span class="impText text3" (dblclick)="openDialogPolinomios(0,false)">
                    Generar impulsor equivalente (PSICO) {{flagEqPsico}}
                </span>

                <!-- <span (click)="seleccionarImpulsorEquivalente('psico')" (dblclick)="openDialogPolinomios()"
                class="impText" [ngClass]="{'impSel': impEqSel === 'psico'}">
                Impulsor equivalente (PSICO)
            </span> -->
            </div>



            <div class="mgt20">
                <p class="ft14 text3 ft500 pdb05 border-b mgb10">Impulsores del compresor</p>
            </div>

            <div *ngFor="let item of filteredImpulsores; let i = index" fxLayout="row" fxLayoutAlign=" center">
                <mat-checkbox> </mat-checkbox>
                <span (click)="seleccionarImpulsor(i)" (dblclick)="openDialogPolinomios(item.numImpulsor,true)"
                    class="impText impulsor" [ngClass]="{'impSel': impSel == i}">
                    Impulsor {{i + 1}}
                    <!-- <div class="impulsorInfoTooltip">
                        <div class="mainTitleContainer">
                            <td colspan="2" class="title ft14">Coeficientes calculados</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Diámetro [pulg]</td>
                            <td>value</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Límite Q/N de surge</td>
                            <td>value</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Límite Q/N de stw</td>
                            <td>value</td>
                        </div>
                        <div class="titleContainer">
                            <td colspan="2" class="title">Exp.polin.coef.head</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Coef.A(1) coe.head</td>
                            <td>value</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Coef.A(2) coe.head</td>
                            <td>value</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Coef.A(3) coe.head</td>
                            <td>value</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Coef.A(4) coe.head</td>
                            <td>value</td>
                        </div>
                        <div class="titleContainer">
                            <td colspan="2" class="title">Exp.polin.efic.polit.</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Coef.A(1) efic.polit.</td>
                            <td>value</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Coef.A(2) efic.polit.</td>
                            <td>value</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Coef.A(3) efic.polit.</td>
                            <td>value</td>
                        </div>
                        <div>
                            <td class="nowrap w150px">Coef.A(4) efic.polit.</td>
                            <td>value</td>
                        </div>
                    </div> -->
                </span>
            </div>
            <br>
            <button class="standard fw" (click)="agregarImpulsor()">agregar</button>


        </div>
    </div>
    <div class="neutralFill1 fh fw">
        Grafico container
    </div>

</div>