/* ventanas */

.leftContainer{
    width: 300px;
    padding: 1rem;
    height: calc(100vh - 40px) !important;
    overflow-y: auto;
    border-right: solid 1px var(--stroke1);
    box-shadow: var(--shadow8);
}

.rightContainer{ 
    width: calc(100vw - 300px) !important;
    height: calc(100vh - 40px) !important;
    height: 100%;
    overflow-y: auto;
}



/* Clase que se aplica al seleccionar un impulsor */


.agregarButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 1px var(--stroke2);
    height: 28px;
    font-size: 12px;
    color: var(--text3);
    opacity: .7;
}

.agregarButton:hover{
    background-color: var(--neutral1);
    opacity: 1;
    transition: .2s;
    box-shadow: var(--shadow8);
}



.impSel{
    font-weight: 500;
}

.impText{
    margin-left: 8px;
    font-size: 16px !important;
    cursor: pointer;
    margin-top: 14px;
}


/* info Impulsor Tooltip */

.impulsor {
    position: relative;
    display: inline-block;
}

.impulsor .impulsorInfoTooltip {
    visibility: hidden;
    padding: 6px;
    padding-right: 12px;
    width: 200px;
    position: absolute;
    z-index: 1;
    background: white;
    box-shadow: var(--shadow8);  
    border: 1px solid var(--stroke1); 
    border-radius: 4px;
    top: -5px;
    left: 115%;
}

@keyframes openTooltip {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.dataImpulsorContainer{
    overflow-x: auto;
    overflow-y: auto;
 }
 
 input{
     border: 1px solid transparent;
     border-radius: 0px;
     font-size: 11px !important;
     height: 18px;
     background-color: var(--neutral1) !important;
     min-width: 70px !important;
     width: 70px !important;
 }
 
 input:focus{
     border: 2px solid var(--accent5);
     background: var(--control1) !important;
     border-radius: 4px;
 }
 
 label{
   margin-top: 0px !important;
   margin-bottom: 0px !important;
 }
 
 .simpleSelect{
     text-align: end !important;
     border: none !important;
     height: 20px !important;
     position: relative;
     background-color: var(--neutral1) !important; 
     min-width: 70px !important;
     width: 70px !important;
 }
 
 
 /* Data set Table */
 
 .dataSetContainer{
     overflow-y: auto;
     overflow-x: hidden;
     height: 607px;
 }
 
 tr{
     padding: 8px !important;
     height: 30px;
 }
 
 th{
     min-width: 50px;
     font-size: 13px !important;
     font-weight: 500 !important;
     text-align: center;
 }
 
 
 
 
 td{ 
     min-width: 50px;
     font-size: 11px !important;
     font-weight: 400 !important;
     text-align: center;
 }
 
 /* Scrollbar */
 
 ::-webkit-scrollbar {
     border-radius: 50%;
     transition: .1 ease;
     width: 6px;
 }
 
 ::-webkit-scrollbar-track  {
     background: transparent;
 }
   
 ::-webkit-scrollbar-track  {
     background: transparent;
 }
   
 ::-webkit-scrollbar-thumb  {
     background: transparent;
     border-radius: 3px;
     transition: .3s !important;
 }
 
 .dataSetContainer:hover::-webkit-scrollbar-thumb  {
     background: var(--stroke2);
     transition: .3s !important;
 }
 