<div class="border-l topBarContainer pd05 neutralFill1" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign=" center">

    <span class="mgl10 ft500 ft16">Lista de Simulaciones Teóricas</span>
    <span class="cursorPointer" *ngIf="anadiendo==false" (click)="anadiendo = true"> Añadir<mat-icon
            class="iconButton text3 ft18">add</mat-icon></span>
    <span *ngIf="anadiendo==true">Escriba el nombre de la simulacion</span>
    <input *ngIf="anadiendo==true" [(ngModel)]="nombre" type="text">
    <button class="accent" *ngIf="anadiendo==true"
        (click)="anadiendo = false; anadirPrueba(nombre); nombre = ''">Confirmar</button>
</div>

<div>

    <table class="fw">
        <tr>
            <th>Nombre</th>
            <th>Fecha de creación</th>
            <th>Mezcla</th>
            <th>Q</th>
            <th>RPM</th>
            <th>Psuc</th>
            <th>Pdes</th>
            <th>Tsuc</th>
            <th>thesc</th>
            <th>Coef. Cab. Poli</th>
            <th>Efic. Poli</th>
            <th>Pot</th>
            <th>ΣPot.</th>
        </tr>
        <tr *ngFor="let item of simulaciones">
            <td>
                <a routerLink='/psico/proyecto/{{proyectoId}}/tren/{{trenTag}}/simulacion-teorica/{{item.id}}'>
                    {{item.nombre}}
                </a>
            </td>
            <td>{{item.fechaCreacion }}</td>
        </tr>
    </table>


</div>