<table>

    <tr>
        <th></th>
        <th> </th>
    </tr>
    <tr>
        <td>Gas Handled</td>
        <td> select </td>
        <td><input type="number"> </td>
    </tr>
    <tr>
        <td>Molecular Weight (%)</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td> mmscfd</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>massFlow</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>weightFlow </td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>inletVolume</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>

    <tr>
        <td>p1</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>t1</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>k1</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>z1</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>p2</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>t2</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>k2</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>z2</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>brakeHorsepower</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>compressorGasPower</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>rpm</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>Hpoly</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>Hisen</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>Npoly</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>Nisen</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>pRatio</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>certifiedPoint</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td>performanceCurve</td>
        <td> select </td>
        <td><input type="text"> </td>
    </tr>





</table>