<div fxLayout="column" fxLayoutAlign="center center">

    <div class="w900px mgt40">

        <div fxLayout="row" class="border-b">
            <!-- Logo PSICO -->
            <div class="border w100px centertext">

            </div>

            <!-- Info Proyecto -->
            <div class="centertext fw border">
                <div class="ft500 ft14">EVALUACIÓN DEL COMPORTAMIENTO DE COMPRESORES CENTRÍFUGOS</div>
                <div class="ft500 ft12 text2">RESUMEN DE DATOS PARA UN PUNTO DE OPERACIÓN</div>
                <div class="ft500 ft12 aText3">COMPORTAMIENTO REAL</div>
            </div>

            <!-- Logo Usuario Final -->
            <div class="border w100px centertext">

            </div>

        </div>

        <div class="mgt10">
            <table class="fw">
                <tr>
                    <th colspan="2">Contrato</th>
                    <th colspan="2">Codificación y título del documento</th>
                    <th colspan="2">Instalación</th>
                    <th colspan="2">Equipo</th>
                </tr>
                <tr>
                    <th>ODS</th>
                    <td>-</td>
                    <th>Código</th>
                    <td>-</td>
                    <th rowspan="2">Planta</th>
                    <td rowspan="2">-</td>
                    <th>Compresor</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Cliente</th>
                    <td>-</td>
                    <th rowspan="2">Título</th>
                    <td rowspan="2">-</td>
                    <th>Marca/Model</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Usuario final</th>
                    <td>-</td>
                    <th>Ubicación</th>
                    <td>-</td>
                    <th>N/S</th>
                    <td>-</td>
                </tr>

            </table>

        </div>

        <div class="mgt10">
            <table class="fw">
                <tr>
                    <th rowspan="3" colspan="2" class="centertext">Parámetro</th>
                    <th rowspan="3" class="centertext">Unidad</th>
                    <th colspan="3" class="centertext">Comportamiento real</th>
                    <th colspan="3" class="centertext">Comportamiento teórico</th>
                    <th colspan="4" class="centertext">Cromatografía, base seca</th>
                </tr>
                <tr>
                    <th class="centertext">Succión</th>
                    <th class="centertext">Descarga</th>
                    <th class="centertext">Isentrópico</th>
                    <th class="centertext">Succión</th>
                    <th class="centertext">Descarga</th>
                    <th class="centertext">Isentrópico</th>
                    <th rowspan="2">Componente</th>
                    <th rowspan="2">Fórmula</th>
                    <th rowspan="2">Peso Mol. lb/lbmol</th>
                    <th rowspan="2">Fracción Molar [%]</th>
                </tr>
                <tr>
                    <th class="centertext">1</th>
                    <th class="centertext">2</th>
                    <th class="centertext">3</th>
                    <th class="centertext">1</th>
                    <th class="centertext">2</th>
                    <th class="centertext">3</th>
                </tr>
                <tr>
                    <th rowspan="3">Flujo</th>
                    <th rowspan="2">Volumétrico</th>
                    <th class="dimension">MMscfd</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.FLUJOMMSCFD | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <!-- Cromatografía -->
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="dimension">Acfm</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.FLUJOSUC | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.FLUJODES | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.FLUJOISEN | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.FLUJOSUC | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.FLUJODES | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.FLUJOISEN | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>Metano</td>
                    <td>(CH4)</td>
                    <td>16.043</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.metano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th>Másico</th>
                    <th class="dimension">lbm/min</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.FLUJOMAS  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.FLUJOMAS  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.FLUJOMAS  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.FLUJOMAS  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.FLUJOMAS  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.FLUJOMAS  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>Etano </td>
                    <td>(C2H6)</td>
                    <td>30.07</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.etano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Velocidad de giro</th>
                    <th class="dimension">rpm</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.RPM  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.RPM  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.RPM  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.RPM  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.RPM  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.RPM  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>Propano</td>
                    <td>(C3H8)</td>
                    <td>44.097</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.propano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Presión</th>
                    <th class="dimension">psig</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.PSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.PDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.PISEN  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.PSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.PDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.PISEN  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>iso-Butano</td>
                    <td>(C4H10)</td>
                    <td>58.124</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.iButano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Temperatúra</th>
                    <th class="dimension">psig</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.TSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.TDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.TISEN  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.TSUC | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.TDES | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.TISEN | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>n-Butano</td>
                    <td>(C4H10)</td>
                    <td>58.124</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.nButano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Volúmen específico</th>
                    <th class="dimension">pie3/lbm</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.VOLSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.VOLDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.VOLISEN  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.VOLSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.VOLDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.VOLISEN  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>iso-Pentano</td>
                    <td>(C5H12)</td>
                    <td>72.151</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.iPentano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Densidad</th>
                    <th class="dimension">pie3/lbm</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.DENSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.DENDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.DENISEN  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.DENSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.DENDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.DENISEN  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>n-Pentano</td>
                    <td>(C5H12)</td>
                    <td>72.151</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.nPentano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Factor de compresibilidad</th>
                    <th class="dimension">pie3/lbm</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.FLUJOMMSCFD  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>Hexanos</td>
                    <td>(C6H14)</td>
                    <td>86.178</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.hexano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Entalpía</th>
                    <th class="dimension">pie3/lbm</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.HSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.HDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.HISEN  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.HSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.HDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.HISEN  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>Heptanos</td>
                    <td>(C7H16)</td>
                    <td>100.205</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.heptano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Entropía</th>
                    <th class="dimension">pie3/lbm</th>
                    <!-- Comportamiento Real -->
                    <td>{{seccion.outputAdim.SSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.SDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputAdim.SISEN  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teórico -->
                    <td>{{seccion.outputTeorico.SSUC  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.SDES  | number:'1.2-2'}}</td>
                    <td>{{seccion.outputTeorico.SISEN  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>Octanos</td>
                    <td>(C8H18)</td>
                    <td>114.232</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.octano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Relación de compresión</th>
                    <th class="dimension">pie3/lbm</th>
                    <!-- Comportamiento Real -->
                    <td colspan="3">{{seccion.outputAdim.RELCOMP  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teorico -->
                    <td colspan="3">{{seccion.outputTeorico.RELCOMP  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>Nonanos</td>
                    <td>(C9H20)</td>
                    <td>128.259</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.nonano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Relación de volumenes</th>
                    <th class="dimension">pie3/lbm</th>
                    <!-- Comportamiento Real -->
                    <td colspan="3">{{seccion.outputAdim.RELVOL  | number:'1.2-2'}}</td>
                    <!-- Comportamiento Teorico -->
                    <td colspan="3">{{seccion.outputTeorico.RELVOL  | number:'1.2-2'}}</td>
                                        <!-- Cromatografía -->
                    <td>Decanos</td>
                    <td>(C10H22)</td>
                    <td>142.286</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.decano*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <th rowspan="2">Cabezal</th>
                    <th>Politrópico</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.HEADPOLI | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.HEADPOLI | number:'1.2-2'}}</td>
                    <td>Diox. Carbono</td>
                    <td>(CO2)</td>
                    <td>44.01</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.dioxCarbono*100 | number:'1.2-2'}}%</td>
                </tr>
                <tr>
                    <!-- <th rowspan="2">Cabezal</th> -->
                    <th>Isentrópico</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.HEADISEN | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.HEADISEN | number:'1.2-2'}}</td>
                    <td>Nitrógeno</td>
                    <td>(N2)</td>
                    <td>28.013</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.nitrogeno*100 | number:'1.2-2'}}%</td>
                </tr>
                <!--  -->
                <tr>
                    <th rowspan="2">Potencia</th>
                    <th>Al Gas</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.HPGAS | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.HPGAS | number:'1.2-2'}}</td>
                    <td>Sulf. Hidrógeno</td>
                    <td>(H2S)</td>
                    <td>34.076</td>
                    <td>{{seccion.inputs.Mezcla.cromatografiaNormalizada.sulfHidrogeno*100 | number:'1.2-2'}}%</td>


                </tr>
                <tr>
                    <!-- <th rowspan="2">Cabezal</th> -->
                    <th>Al freno</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.HPFRENO | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.HPFRENO | number:'1.2-2'}}</td>
                    <td rowspan="9" colspan="4">-</td>
                </tr>
                <!--  -->
                <tr>
                    <th rowspan="2">Coeficiente de cabezal</th>
                    <th>Politrópico</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.CFHEADPOLI | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.CFHEADPOLI | number:'1.2-2'}}</td>

                </tr>
                <tr>
                    <!-- <th rowspan="2">Cabezal</th> -->
                    <th>Isentrópico</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.HEADISEN | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.HEADISEN | number:'1.2-2'}}</td>

                </tr>
                <!--  -->
                <!--  -->
                <tr>
                    <th rowspan="2">Eficiencia</th>
                    <th>Politrópico</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.EFICPOLI | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.EFICPOLI | number:'1.2-2'}}</td>

                </tr>
                <tr>
                    <!-- <th rowspan="2">Cabezal</th> -->
                    <th>Isentrópico</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.EFICISEN | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.EFICISEN | number:'1.2-2'}}</td>

                </tr>
                <!--  -->
                <!--  -->
                <tr>
                    <th rowspan="2">Coeficiente entrada de trabajo</th>
                    <th>Politrópico</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.CFWORKPOLI | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.CFWORKPOLI | number:'1.2-2'}}</td>
                </tr>
                <tr>
                    <!-- <th rowspan="2">Cabezal</th> -->
                    <th>Isentrópico</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.CFHEADISEN | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.CFHEADISEN | number:'1.2-2'}}</td>

                </tr>
                <!--  -->
                <!--  -->
                <tr>
                    <th rowspan="2">Coeficiente de flujo (referido a succión)</th>
                    <th>Q/N</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.QN | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.QN | number:'1.2-2'}}</td>

                </tr>
                <tr>
                    <!-- <th rowspan="2">Cabezal</th> -->
                    <th>Φ</th>
                    <th class="dimension">dim</th>
                    <td colspan="3">{{seccion.outputTeorico.PHI | number:'1.2-2'}}</td>
                    <td colspan="3">{{seccion.outputTeorico.PHI | number:'1.2-2'}}</td>
                </tr>
                <!--  -->



            </table>
        </div>

        <!-- Graficos -->
        <div fxLayout="row" class="">
            <div class="fw h400px border">
                <div class="mgt05 ft500 centertext ft12">Mapa 1</div>

            </div>
            <div class="fw h400px border">
                <div class="mgt05 ft500 centertext ft12">Mapa 2</div>

            </div>
        </div>

        <!-- Comentarios -->
        <div fxLayout="row" class="mgt10">
            <div class="ft500 ft13">Comentarios</div>
        </div>

    </div>

</div>