<h1>Importar CSV</h1>

<a (click)="goToLink('https://apps.automeris.io/wpd/')">page link</a>

<div class="csv-file-chooser-section">

    <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
        accept=".csv" />

    <label>
        Parse Headers?
    </label>
    <select aria-placeholder="Parse headers?" [(ngModel)]="header">
        <option [value]="true">Yes</option>
        <option [value]="false">No</option>
    </select>
</div>

<div *ngIf="csvRecords" class="csv-result-table">
    <table>
        <tbody>
            <tr *ngFor="let csvData of csvRecords; let rowIndex = index;">

                <td *ngFor="let cellData of csvData; let cellIndex = index;">
                    <span>{{cellData}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav class="navbar navbar-expand navbar-light bg-primary">
    <div class="nav navbar-nav">
      <h5 class="nav-item nav-link active text-white">NGX-CHARTS DASHBOARD </h5>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row pt-2">
      <div class="col-md-12">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title border-bottom">Vertical Bar Charts</h4>
            <ngx-charts-bar-vertical 
                [view]="[1000,400]"
                [results]="saleData"
                [xAxisLabel]="'Products'"
                [legendTitle]="'Product Sale Chart'"
                [yAxisLabel]="'Sale'"
                [legend]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxis]="true"
                [yAxis]="true"
                [gradient]="true">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title border-bottom">Advanced Pie Charts</h4>
            <ngx-charts-advanced-pie-chart 
                  [results]="saleData"
                  [gradient]="true" >
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title border-bottom">Pie Grid Charts</h4>
            <ngx-charts-pie-grid 
              [results]="saleData" >
            </ngx-charts-pie-grid>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title border-bottom">Pie Charts</h4>
            <ngx-charts-pie-chart 
                [results]="saleData"
                [legend]="true"
                [legendTitle]="'Product Sale Report'" 
                [view]="[1000,300]"
                [labels]="true" >
            </ngx-charts-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [results]="multi"
  [autoScale]="true"  
  >
</ngx-charts-line-chart>