<tr>
    <td>Mezcla de Gas</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Temp. en la Succión </td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Temp. en la Descarga</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Presión en la Succión</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Presión en la Descarga </td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Extrac. gas combustible</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Rel.velocidad c/r al tren </td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Nº de impulsores</td>
    <td><input type="number"></td>
</tr>

<br><br><br><br><br>

<tr>
    <td>Diámetro [pulg]</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Límite Q/N de surge</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Límite Q/N de stw</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Exp.polin.coef.head</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Coef.A(1) coe.head</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Coef.A(2) coe.head</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Coef.A(3) coe.head</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Coef.A(4) coe.head</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Exp.polin.efic.polit.</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Coef.A(1) efic.polit.</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Coef.A(2) efic.polit.</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Coef.A(3) efic.polit.</td>
    <td><input type="number"></td>
</tr>
<tr>
    <td>Coef.A(4) efic.polit.</td>
    <td><input type="number"></td>
</tr>

<br><br><br><br>

