tr{
    padding: 8px !important;
    height: 24px;
    border-bottom: 1px solid var(--stroke1);
}

th{ 
    background-color: var(--neutral1);
    min-width: 50px;
    font-size: 13px !important;
    font-weight: 500 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    text-align: center;
    border: 1px solid var(--stroke1);
}

td{ 
    min-width: 50px;
    font-size: 11px !important;
    font-weight: 400 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    text-align: center;
}