<div fxLayout="column" fxLayoutAlign="center center">
    
    <!-- Reporte 2 -->
    <div class="w900px mgt40">
        <table>
            <tr>
                <th>Pto</th>
                <th>Fecha y hora</th>
                <th>Sección</th>
                <th>Psuc.</th>
                <th>Tsuc.</th>
                <th>Pdesc.</th>
                <th>Tdesc.</th>
                <th>Vel</th>
                <th>Q</th>
                <th>Qtotal</th>
                <th>AIR 28.966</th>
                <th>NITROGEN 28.016</th>
                <th>CARBON DIOXIDE 44.010</th>
                <th>HYDROGEN SULFIDE 34.076</th>
                <th>HYDROGEN 2.016</th>
                <th>METHANE 16.042</th>
                <th>ETHYLENE 28.052</th>
                <th>ETHANE 30.068</th>
                <th>PROPYLENE 42.078</th>
                <th>PROPANE 44.094</th>
                <th>I-BUTANE 58.120</th>
                <th>n-BUTANE 58.120</th>
                <th>I-PENTANE 72.146</th>
                <th>n-PENTANE 72.146</th>
                <th>n-HEXANE 86.177</th>
                <th>n-HEPTANE 100.200</th>
                <th>n-OCTANE 114.230</th>
                <th>n-NONANE 128.260</th>
                <th>n-DECANE 142.290</th>
                <th>Pto</th>
            </tr>
        </table>

        <!-- Comentarios -->
        <div fxLayout="row" class="mgt10">
            <div class="ft500 ft13">Comentarios</div>
        </div>
    </div>
</div>