<main>
    <div class="mg20" *ngIf="!(afAuth.authState | async)">
        <h3>Inicio de Sesión</h3>

    </div>

    <div *ngIf="afAuth.authState | async as user" class="logout">
        <p>
            Usuario loggueado: <strong>{{ user.email }}</strong>
        </p>

        <button class="mg20 accent" [routerLink]="['/psico/proyectos']">Ir a mis proyectos</button>

        <button class="mg20 standard" (click)="afAuth.signOut()">Logout</button>
    </div>

    <div *ngIf="!(afAuth.authState | async)">
        <app-email-login></app-email-login>
    </div>
</main>