<div class="mg20">
  <button class="accent" [routerLink]="['/login']">Inicia Sesión</button>
</div>


<section>

    <h5 class="mgt20 border-b pdb05">Typography </h5>
  
    <h1>H1 Display text</h1>
    <h2>H2 Title large text</h2>
    <h3>H3 Title text</h3>
    <h4>H4 subtitle text</h4>
    <h5>H5 Body large text</h5>
    <h6>H6 Body strong</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
      Lorem Ipsum.</p>
    <span>Span text goes here</span>
    <caption>Caption text goes here</caption>
  
    <h5 class="mgt20 border-b pdb05">Colors</h5>
  
    <div fxLayout="row" fxLayoutGap="2rem">
      <div class="column">
        <h6 class="h6Title">Neutral</h6>
        <div class="brushDiv minContrast "> minContrast </div>
        <div class="brushDiv neutralFill1 "> neutral
          <br> <span class="ft10">Default background</span>
        </div>
        <div class="brushDiv neutralFill2 ">neutral2
          <br> <span class="ft10">Dropdowns, flyouts, chips </span>
        </div>
        <div class="brushDiv neutralFill3 ">neutral3
          <br> <span class="ft10">hover</span>
        </div>
        <div class="brushDiv neutralFill4 ">neutral4</div>
        <div class="brushDiv neutralFill5 oaText1">neutral</div>
        <div class="brushDiv maxContrast oaText1"> maxContrast </div>
      </div>
      <div class="column">
        <h6 class="h6Title">Surface fill colors</h6>
        <div class="brushDiv surfaceLayerFill "> surfaceLayer </div>
        <div class="brushDiv cardFill ">card</div>
        <div class="brushDiv cardOnAcrlylicFill ">cardOnAcrlylic</div>
        <div class="brushDiv flyoutSurfaceFill">flyoutSurface</div>
        <div class="brushDiv acrilycFill ">acrilyc</div>
      </div>
      <div class="column">
        <h6 class="h6Title">Accent colors</h6>
        <div class="brushDiv accentFill1 "> accent1 </div>
        <div class="brushDiv accentFill2 "> accent2 </div>
        <div class="brushDiv accentFill3 oaText1">accent3</div>
        <div class="brushDiv accentFill4 oaText1">accent4</div>
        <div class="brushDiv accentFill5 oaText1">Base: accent5 </div>
        <div class="brushDiv accentFill6 oaText1">accent6</div>
        <div class="brushDiv accentFill7 oaText1">accent7</div>
      </div>
      <div class="column">
        <h6 class="h6Title">Complementary colors</h6>
        <div class="brushDiv greenFill5 oaText1"> green5 </div>
        <div class="brushDiv greenFill1 ">green1</div>
        <div class="brushDiv brownFill5 oaText1">brown5</div>
        <div class="brushDiv brownFill1">brown1</div>
        <div class="brushDiv redFill5 oaText1">red5</div>
        <div class="brushDiv redFill1">red1</div>
      </div>
  
      <div class="column">
        <h6 class="h6Title">Control colors</h6>
        <div class="brushDiv controlFill1 "> control1</div>
        <div class="brushDiv controlFill2 ">control2</div>
        <div class="brushDiv controlFill3 ">control3</div>
        <div class="brushDiv controlFillDisabled">controlDisabled</div>
        <div class="brushDiv accentControlFill1 oaText1">accentControl1</div>
        <div class="brushDiv accentControlFill2 oaText2">accentControl2</div>
        <div class="brushDiv accentControlFill3 oaText3">accentControl3</div>
        <div class="brushDiv accentControlFillDisabled">accentControlDisabled</div>
      </div>
      <div class="column">
        <h6 class="h6Title">Text colors</h6>
        <div class="brushDiv text1"> text1 </div>
        <div class="brushDiv text2">text2</div>
        <div class="brushDiv text3">text3</div>
        <div class="brushDiv aText1">aText1</div>
        <div class="brushDiv aText2">aText2</div>
        <div class="brushDiv aText3">aText3</div>
        <div class="brushDiv accentFill5 oaText1 aBack1">oaText1</div>
        <div class="brushDiv accentFill5 oaText2 aBack1">oaText2</div>
        <div class="brushDiv accentFill5 oaText3 aBack1">oaText3</div>
  
      </div>
    </div>
  
    <h5 class="mgt20 border-b pdb05">Geometry </h5>
  
    <p>Default border radius 4px</p>
    <p>Default app surface radius 8px </p>
    <p>Default line height for lists and tables 40px</p>
    <p>Default button size height 32px</p>
    <p>Default padding between insisde 12px</p>
    <p>Separation between cards 12px</p>
    <p></p>
  
    <div></div>
  
<!-- 
  8b    d8 888888 88b 88 88   88 
  88b  d88 88__   88Yb88 88   88 
  88YbdP88 88""   88 Y88 Y8   8P 
  88 YY 88 888888 88  Y8 `YbodP'  -->
  
  
  
    <h5 class="mgt20 border-b pdb05">Menu </h5>
  
    <!-- Title bar has 40px height and 12px left padding -->
    <div class="titleBar">
      <span class="ft14">Bar title goes here</span>
    </div>
  
    <!-- Menu toolbar has 40px height and row flexbox display -->
    <div class="menuToolbar">
  
      <!-- text buttons and selection styles -->
      <span class="textButton">Text button</span>
      <span class="textButton selected1">Sel1</span>
      <span class="textButton selected2 ">Sel2</span>
      <span class="textButton selected3">Sel3</span>
      <span class="textButton selected4">Sel4</span>
      <span class="textButton selected5">Sel5</span>
  
      <!-- Drop menu -->
      <span class="textButton" [matMenuTriggerFor]="menu">
        Drop menu
        <mat-icon class="ft20">arrow_drop_down</mat-icon>
      </span>
  
      <mat-menu #menu="matMenu" class="contextMenu">
        <li class="menuItem">Menu item 1</li>
        <li class="menuItem">Menu item 2</li>
        <li class="menuItem">Menu item 3</li>
      </mat-menu>
  
      <!-- Nested menu -->
      <span class="textButton" [matMenuTriggerFor]="animals">
        Nested menu
        <mat-icon class="ft20">arrow_drop_down</mat-icon>
      </span>
      <mat-menu #animals="matMenu" class="contextMenu">
        <li mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</li>
        <li mat-menu-item>Invertebrates</li>
      </mat-menu>
      <mat-menu #vertebrates="matMenu" class="contextMenu">
        <li class="menuItem">Fishes</li>
        <li class="menuItem">Amphibians</li>
        <li class="menuItem">Reptiles</li>
        <li class="menuItem">Birds</li>
        <li class="menuItem">Mammals</li>
      </mat-menu>
  
      <!-- Context menu -->
      <span (contextmenu)="onContextMenu($event)">Right click menu</span>
      <div #trigger="matMenuTrigger" style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu2">
      </div>
      <mat-menu #contextMenu2="matMenu" class="contextMenu">
        <li class="menuItem">Action 1</li>
        <li class="menuItem">Action 2</li>
        <li class="menuItem">Action 3</li>
        <li class="menuItem">Action 4</li>
      </mat-menu>
  
      <!-- menu buttons and selection styles -->
      <mat-icon class="iconButton ">settings</mat-icon>
      <mat-icon class="iconButton selected1">settings</mat-icon>
      <mat-icon class="iconButton selected2">settings</mat-icon>
      <mat-icon class="iconButton selected5">settings</mat-icon>
      <mat-icon class="iconButton disabled">settings</mat-icon>
  
      <!-- Search bar -->
      <div class="searchBarContainer">
        <mat-icon class="searchIcon">search</mat-icon>
        <input type="text" class="searchBar" placeholder="Search">
      </div>
  
      <!-- Theme toggle -->
      <mat-slide-toggle disableRipple [(ngModel)]="colorMode" (change)="changeColorMode()">
        <span>Theme toggle</span>
      </mat-slide-toggle>
  
    </div>
  
  
    <!-- 
  88""Yb 88   88 888888 888888  dP"Yb  88b 88 .dP"Y8 
  88__dP 88   88   88     88   dP   Yb 88Yb88 `Ybo." 
  88""Yb Y8   8P   88     88   Yb   dP 88 Y88 o.`Y8b 
  88oodP `YbodP'   88     88    YbodP  88  Y8 8bodP' -->
  
  
  
    <h5 class="mgt20 border-b pdb05">Buttons </h5>
    <div class="menuToolbar">
  
      <!-- Diferent button styles -->
      <button class="standard">Standard</button>
      <button class="standard" disabled>Disabled</button>
      <button class="accent">Accent</button>
      <button class="accent" disabled>Accent disabled</button>
      <span class="textButton">Text button</span>
  
      <!-- Link button -->
      <span class="textButton">
        Link&Icon button
        <mat-icon class="ft20">arrow_drop_down</mat-icon>
      </span>
  
      <!-- icon button -->
      <mat-icon class="iconButton">info</mat-icon>
    </div>
  
  
  
    <!-- 
  8b    d8 88 Yb  dP 888888 8888b.  
  88b  d88 88  YbdP  88__    8I  Yb 
  88YbdP88 88  dPYb  88""    8I  dY 
  88 YY 88 88 dP  Yb 888888 8888Y"  -->
  
  
  
    <h5 class="mgt20 border-b pdb05">Mixed </h5>
    <div class="menuToolbar">
  
      <!-- tooltip -->
      <span matTooltip="Info about the action">Tooltip</span>
      <span matTooltip="Multiline Tooltip &#13; &#13; This is second line"
        matTooltipClass="multiline-tooltip">MultilineTooltip</span>
  
      <!-- link styles -->
      <mat-icon matTooltip="Info about the action" class="ft16">info</mat-icon>
      <a href="">Continuar</a>
      <div class="linkWithIcon">
        <a href=""> Link with icon</a>
        <mat-icon class="iconLink">keyboard_arrow_right</mat-icon>
      </div>
  
      <!-- chips -->
      <span class="sqChip ft12">Squared chip</span>
      <span class="chip">Rounded chip</span>
      <span class="borderChip">Border chip</span>
  
      <!-- badge -->
      <span class="badge">1</span>
  
      <!-- circle -->
      <span class="circle"></span>
  
      <!-- icon and icon styles -->
      <mat-icon>close</mat-icon>
      <mat-icon class="ft16">close</mat-icon>
      <mat-icon class="ft13">close</mat-icon>
      <mat-icon class="filledIcon accentFill5 ft20">play_arrow</mat-icon>
      <mat-icon class="filledIcon redFill5 ft16">drag_handle</mat-icon>
      <mat-icon class="filledIcon greenFill5 ft13">add</mat-icon>
      <mat-icon class="iconBorder">check</mat-icon>
      <mat-icon class="iconBorder ft16">check</mat-icon>
      <mat-icon class="iconBorder ft12">check</mat-icon>
  
      <!-- rating starts -->
      <!-- Insert [readonly]="true" inside ngb-rating next to [max] -->
      <ngb-rating [(rate)]="currentRate" [max]="5">
        <ng-template let-fill="fill">
          <span [class.filled]="fill === 100" [class.notfilled]="fill === 0" class="mgr05 ft22">
            &#9733;
          </span>
        </ng-template>
      </ngb-rating>
    </div>
  
  
  
    <!-- 
  88     88 .dP"Y8 888888 .dP"Y8 
  88     88 `Ybo."   88   `Ybo." 
  88  .o 88 o.`Y8b   88   o.`Y8b 
  88ood8 88 8bodP'   88   8bodP'  -->
  
  
  
    <h5 class="mgt20 border-b pdb05">Lists </h5>
    <div fxLayout="row" fxLayoutGap="2rem">
  
      <!-- Regular rounded list + selected css -->
      <div>
        <h6 class="h6Title">Regular rounded list & select</h6>
        <li>List element 1</li>
        <li>List element 2</li>
        <li routerLink="/403" routerLinkActive="liSelected">List element 3</li>
        <li>List element 4</li>
        <li routerLink="/403" routerLinkActive="liSelectedDot"> List element 5 </li>
      </div>
  
      <!-- Squared bordered list -->
  
      <div>
        <h6 class="h6Title">Squared bordered list</h6>
        <li class="radius0 border-t">Elemento 1</li>
        <li class="radius0 border-t">Elemento 1</li>
        <li class="radius0 border-t">Elemento 1</li>
        <li class="radius0 border-t">
          <mat-icon>info</mat-icon>
          <span class="mgl08">Element text</span>
        </li>
        <li class="radius0 border-t">
          <mat-icon>info</mat-icon>
          <span class="mgl08">Element text</span>
        </li>
      </div>
  
      <!-- Multi element list-->
      <div>
        <h6 class="h6Title">Multielement squared bordered list</h6>
        <li class="radius0 border-t rowFlexStart">
          <mat-icon>info</mat-icon>
          <div class="mgl08">
            <span>
              Text here
            </span>
            <p class="mgb0">second line text</p>
          </div>
        </li>
        <li class="radius0 border-t rowFlexStart">
          <mat-icon>info</mat-icon>
          <div class="mgl08">
            <span>
              Text here
            </span>
            <p class="mgb0">second line text</p>
          </div>
        </li>
      </div>
  
    </div>
  
  
    <!-- 
   dP""b8    db    88""Yb 8888b.  .dP"Y8 
  dP   `"   dPYb   88__dP  8I  Yb `Ybo." 
  Yb       dP__Yb  88"Yb   8I  dY o.`Y8b 
   YboodP dP""""Yb 88  Yb 8888Y"  8bodP'  -->
  
  
  
    <h5 class="mgt20 border-b pdb05">Cards </h5>
    <div fxLayout="row" fxLayoutGap="2rem">
  
      <!-- Regular card -->
      <div>
        <h6 class="h6Title">Regular card</h6>
        <div class="card">
          <span>Card info lorem ipsum</span>
        </div>
        <div class="card">
          <span>Card info lorem ipsum</span>
        </div>
      </div>
  
      <!-- Multi element list-->
      <div>
        <h6 class="h6Title">Multielement card</h6>
        <div class="card">
          <mat-icon>info</mat-icon>
          <div class="mgl08">
            <span>
              Text here
            </span>
            <p class="mgb0">second line text</p>
          </div>
        </div>
  
        <div class="card">
          <mat-icon>info</mat-icon>
          <div class="mgl08">
            <span>
              Text here
            </span>
            <p class="mgb0">second line text</p>
          </div>
        </div>
      </div>
  
      <!-- Hoverable Multi element list-->
      <div>
        <h6 class="h6Title"> Hoverable Multielement card</h6>
        <li class="card">
          <mat-icon>info</mat-icon>
          <div class="mgl08">
            <span>
              Text here
            </span>
            <p class="mgb0">second line text</p>
          </div>
        </li>
  
        <li class="card">
          <mat-icon>info</mat-icon>
          <div class="mgl08">
            <span>
              Text here
            </span>
            <p class="mgb0">second line text</p>
          </div>
        </li>
      </div>
  
  
      <!-- Vertical card -->
      <div>
        <h6 class="h6Title"> Vertical card</h6>
        <div class="vcard">
          <div class="cardImageContainer"></div>
          <div class="cardContentContainer">
            <span>
              Text here
            </span>
            <p class="mgb0">second line text</p>
          </div>
        </div>
  
      </div>
  
    </div>
  
  
    <!-- 
  88""Yb    db    88b 88 888888 88     .dP"Y8 
  88__dP   dPYb   88Yb88 88__   88     `Ybo." 
  88"""   dP__Yb  88 Y88 88""   88  .o o.`Y8b 
  88     dP""""Yb 88  Y8 888888 88ood8 8bodP'  -->
  
  
    <!-- expansion panel -->
  
    <h5 class="mgt20 border-b pdb05">Panels </h5>
  
    <mat-accordion>
      <!-- mat-acordeon sirve para que solo se pueda tener 
        abierto uno a la vez. Se puede quitar -->
      <mat-expansion-panel>
        <mat-expansion-panel-header class="mate">
          <span>header content goes here</span>
        </mat-expansion-panel-header>
        <span>Body content goes here</span>
      </mat-expansion-panel>
  
      <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
          <span>header content goes here</span>
        </mat-expansion-panel-header>
        <span>Body content goes here</span>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>header content goes here</span>
        </mat-expansion-panel-header>
        <span>Body content goes here</span>
      </mat-expansion-panel>
    </mat-accordion>
  
    <!-- 
  88 88b 88 888888  dP"Yb      88""Yb    db    88""Yb 
  88 88Yb88 88__   dP   Yb     88__dP   dPYb   88__dP 
  88 88 Y88 88""   Yb   dP     88""Yb  dP__Yb  88"Yb  
  88 88  Y8 88      YbodP      88oodP dP""""Yb 88  Yb  -->
  
    <h5 class="mgt20 border-b pdb05">Info bar </h5>
  
    <div class="infoBar mgt05">
      <mat-icon class="infoBarIcon aText1">info</mat-icon>
      <div class="fw">
        <span class="infoBarTitle">Atention</span>
        <span class="mgl08">Info bar with short text</span>
      </div>
      <mat-icon class="infoBarIcon">close</mat-icon>
    </div>
  
    <div class="infoBar mgt05 greenFill1">
      <mat-icon class="infoBarIcon greenText">check_circle</mat-icon>
      <div class="fw">
        <span class="infoBarTitle">Atention</span>
        <span class="mgl08">Info bar with short text</span>
      </div>
      <mat-icon class="infoBarIcon">close</mat-icon>
    </div>
  
    <div class="infoBar mgt05 brownFill1">
      <mat-icon class="infoBarIcon brownText">error</mat-icon>
      <div class="fw">
        <span class="infoBarTitle">Atention</span>
        <span class="mgl08">Info bar with short text</span>
      </div>
      <mat-icon class="infoBarIcon cursorPointer">close</mat-icon>
    </div>
  
    <div class="infoBar mgt05 redFill1">
      <mat-icon class="infoBarIcon redText">cancel</mat-icon>
      <div class="fw">
        <span class="infoBarTitle">Atention</span>
        <span class="mgl08">Info bar with short text</span>
      </div>
      <mat-icon class="infoBarIcon cursorPointer">close</mat-icon>
    </div>
  
    <div class="mgt05 infoBar">
      <mat-icon class="infoBarIcon">info</mat-icon>
      <div class="fw">
        <span>Atention</span>
        <p>Info bar with very long text Info bar with
          very long text Info bar with very long text Info
          bar with very long text</p>
        <button class="standard">Acceptance button</button>
      </div>
      <mat-icon class="infoBarIcon ">close</mat-icon>
    </div>
  
  
    <!-- 
  .dP"Y8 88 8888b.  888888 88""Yb    db    88""Yb 
  `Ybo." 88  8I  Yb 88__   88__dP   dPYb   88__dP 
  o.`Y8b 88  8I  dY 88""   88""Yb  dP__Yb  88"Yb  
  8bodP' 88 8888Y"  888888 88oodP dP""""Yb 88  Yb 
   -->
  
  
    <h5 class="mgt20 border-b pdb05">Sidebar </h5>
    <div class="sidebar">
  
      <!-- list -->
      <li>List element 1</li>
      <li>List element 2</li>
      <li routerLink="/403" routerLinkActive="liSelected">Selected</li>
      <li>List element 4</li>
      <li class="selected1"> Selected1</li>
  
      <hr>
      <!-- slider -->
      <mat-slider></mat-slider>
  
      <hr>
      <!-- progress bar -->
      <mat-progress-bar mode="determinate" value=30></mat-progress-bar>
  
      <hr>
      <!-- radio group. Radio group have default padding.. Watch out! -->
      <mat-radio-group>
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
  
      <hr>
      <!-- checkbox. Container is for padding -->
      <div class="checkboxContainer">
        <mat-checkbox> Checkbox 1 </mat-checkbox>
        <mat-checkbox> Checkbox 2 </mat-checkbox>
        <mat-checkbox> Checkbox 3 </mat-checkbox>
        <mat-checkbox> Checkbox 4 </mat-checkbox>
      </div>
    </div>
  
  
    <!-- 
  88 88b 88 88""Yb 88   88 888888 .dP"Y8 
  88 88Yb88 88__dP 88   88   88   `Ybo." 
  88 88 Y88 88"""  Y8   8P   88   o.`Y8b 
  88 88  Y8 88     `YbodP'   88   8bodP' 
  -->
  
  
    <h5 class="mgt20 border-b pdb05">Inputs </h5>
  
    <div class="column w300px pd05">
  
      <label for="">Standard input</label>
      <input type="text" placeholder="email" class="fw">
  
      <label for="">Disabled input</label>
      <input type="text" disabled class="fw">
  
      <label for="">Text area</label>
      <textarea name="" id="" cols="30" rows="10" class="fw"></textarea>
  
      <label for="">Select</label>
      <mat-select ([ngModel])="food" class="fw">
        <mat-option class="optionItem"> Option item 1 </mat-option>
        <mat-option class="optionItem"> Option item 2</mat-option>
        <mat-option class="optionItem"> Option item 3 </mat-option>
      </mat-select>
  
      <label for="">Typehead input</label>
      <input type="text" [(ngModel)]="typeheadInput" [ngbTypeahead]="search" placement="bottom-left"
        placeholder="Typehead" class="fw" />
  
    </div>
  
  
    <!-- 
  .dP"Y8 88""Yb 88 88b 88 88b 88 888888 88""Yb .dP"Y8 
  `Ybo." 88__dP 88 88Yb88 88Yb88 88__   88__dP `Ybo." 
  o.`Y8b 88"""  88 88 Y88 88 Y88 88""   88"Yb  o.`Y8b 
  8bodP' 88     88 88  Y8 88  Y8 888888 88  Yb 8bodP' 
  -->
  
    <h5 class="mgt20 border-b pdb05">Spinners </h5>
    <div class="spinner">
      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0" y="0" width="64" height="64" fill="black">
          <rect fill="white" width="64" height="64" />
          <path
            d="M32 2.99465C32 2.44532 32.4455 1.99828 32.9945 2.01648C38.5798 2.20169 44.0097 3.9439 48.6671 7.05591C53.6006 10.3524 57.4458 15.0377 59.7164 20.5195C61.987 26.0013 62.5811 32.0333 61.4236 37.8527C60.266 43.6721 57.4088 49.0176 53.2132 53.2132C49.0176 57.4088 43.6721 60.266 37.8527 61.4236C32.0333 62.5811 26.0013 61.987 20.5195 59.7164C15.0377 57.4458 10.3524 53.6006 7.05591 48.6671C3.9439 44.0097 2.20169 38.5798 2.01648 32.9945C1.99828 32.4455 2.44532 32 2.99465 32C3.54397 32 3.98745 32.4455 4.00695 32.9945C4.19134 38.1862 5.81653 43.2316 8.70995 47.5619C11.7878 52.1683 16.1625 55.7585 21.2808 57.8785C26.3991 59.9986 32.0311 60.5533 37.4646 59.4725C42.8982 58.3917 47.8892 55.7239 51.8066 51.8066C55.7239 47.8892 58.3917 42.8982 59.4725 37.4646C60.5533 32.0311 59.9986 26.3991 57.8785 21.2808C55.7585 16.1625 52.1683 11.7878 47.5619 8.70995C43.2316 5.81653 38.1862 4.19134 32.9945 4.00695C32.4455 3.98745 32 3.54397 32 2.99465Z" />
        </mask>
        <path
          d="M32 2.99465C32 2.44532 32.4455 1.99828 32.9945 2.01648C38.5798 2.20169 44.0097 3.9439 48.6671 7.05591C53.6006 10.3524 57.4458 15.0377 59.7164 20.5195C61.987 26.0013 62.5811 32.0333 61.4236 37.8527C60.266 43.6721 57.4088 49.0176 53.2132 53.2132C49.0176 57.4088 43.6721 60.266 37.8527 61.4236C32.0333 62.5811 26.0013 61.987 20.5195 59.7164C15.0377 57.4458 10.3524 53.6006 7.05591 48.6671C3.9439 44.0097 2.20169 38.5798 2.01648 32.9945C1.99828 32.4455 2.44532 32 2.99465 32C3.54397 32 3.98745 32.4455 4.00695 32.9945C4.19134 38.1862 5.81653 43.2316 8.70995 47.5619C11.7878 52.1683 16.1625 55.7585 21.2808 57.8785C26.3991 59.9986 32.0311 60.5533 37.4646 59.4725C42.8982 58.3917 47.8892 55.7239 51.8066 51.8066C55.7239 47.8892 58.3917 42.8982 59.4725 37.4646C60.5533 32.0311 59.9986 26.3991 57.8785 21.2808C55.7585 16.1625 52.1683 11.7878 47.5619 8.70995C43.2316 5.81653 38.1862 4.19134 32.9945 4.00695C32.4455 3.98745 32 3.54397 32 2.99465Z"
          fill="#005FB8" />
        <path
          d="M32 2.99465C32 2.44532 32.4455 1.99828 32.9945 2.01648C38.5798 2.20169 44.0097 3.9439 48.6671 7.05591C53.6006 10.3524 57.4458 15.0377 59.7164 20.5195C61.987 26.0013 62.5811 32.0333 61.4236 37.8527C60.266 43.6721 57.4088 49.0176 53.2132 53.2132C49.0176 57.4088 43.6721 60.266 37.8527 61.4236C32.0333 62.5811 26.0013 61.987 20.5195 59.7164C15.0377 57.4458 10.3524 53.6006 7.05591 48.6671C3.9439 44.0097 2.20169 38.5798 2.01648 32.9945C1.99828 32.4455 2.44532 32 2.99465 32C3.54397 32 3.98745 32.4455 4.00695 32.9945C4.19134 38.1862 5.81653 43.2316 8.70995 47.5619C11.7878 52.1683 16.1625 55.7585 21.2808 57.8785C26.3991 59.9986 32.0311 60.5533 37.4646 59.4725C42.8982 58.3917 47.8892 55.7239 51.8066 51.8066C55.7239 47.8892 58.3917 42.8982 59.4725 37.4646C60.5533 32.0311 59.9986 26.3991 57.8785 21.2808C55.7585 16.1625 52.1683 11.7878 47.5619 8.70995C43.2316 5.81653 38.1862 4.19134 32.9945 4.00695C32.4455 3.98745 32 3.54397 32 2.99465Z"
          stroke="#005FB8" stroke-width="4" mask="url(#path-1-outside-1)" />
      </svg>
    </div>
  
  
  
    <!-- 
  Yb        dP 88 88b 88 8888b.   dP"Yb  Yb        dP        db    88b 88 8888b.      888888 88""Yb 888888 888888 
   Yb  db  dP  88 88Yb88  8I  Yb dP   Yb  Yb  db  dP        dPYb   88Yb88  8I  Yb       88   88__dP 88__   88__   
    YbdPYbdP   88 88 Y88  8I  dY Yb   dP   YbdPYbdP        dP__Yb  88 Y88  8I  dY       88   88"Yb  88""   88""   
     YP  YP    88 88  Y8 8888Y"   YbodP     YP  YP        dP""""Yb 88  Y8 8888Y"        88   88  Yb 888888 888888  -->
  
  
    <h5 class="mgt20 border-b pdb05">Drag window and tree </h5>
    <div class="exampleBoundary">
  
  
      <div fxLayout="row" class="appSurfaceBase w700px" cdkDragBoundary=".exampleBoundary" cdkDrag>
  
        <!-- column -->
        <div class="columnSurface">
  
          <!-- Tree -->
          <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  
            <!-- leaf node -->
            <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding
              [style.display]="shouldRender(node) ? 'flex' : 'none'" class="node" matTreeNodePadding
              matTreeNodePaddingIndent="12">
              <!-- use 16 for microsoft padding default -->
              <div class="row">
                <div class="emptySpace"></div>
                <span class="ft12"> {{node.name}} {{node.number}} </span>
              </div>
            </cdk-tree-node>
  
            <!-- Parent node -->
            <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
              [style.display]="shouldRender(node) ? 'flex' : 'none'" class="node" matTreeNodePadding
              matTreeNodePaddingIndent="12">
              <!-- use 16 for microsoft padding default -->
              <div class="row" cdkTreeNodeToggle (click)="node.isExpanded = !node.isExpanded"
                [style.visibility]="node.expandable ? 'visible' : 'hidden'">
                <mat-icon class="filledSpace">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                <span class="ft12"> {{node.name}} {{node.number}}</span>
              </div>
            </cdk-tree-node>
  
          </cdk-tree>
  
        </div>
  
        <!-- Right content -->
        <div class="column fw" fxFlex="100%">
  
          <div>
            <div class="titleBar">
              <span>Title goes here</span>
            </div>
            <div class="menuToolbar fw">
              <span class="textButton">File</span>
              <span class="textButton">Edit</span>
              <span class="textButton">Info</span>
              <span class="textButton selected2">Selected1</span>
            </div>
          </div>
  
          <div class="appSurfaceLayer fh fw ">
            <div class="card"><span>card element</span></div>
            <div class="card"><span>card element</span></div>
            <div class="card"><span>card element</span></div>
            <div class="card"><span>card element</span></div>
  
          </div>
        </div>
      </div>
    </div>
  
  </section>