<div fxLayout="row" class="neutralFill1">

    <div class="menuVerticalContainer noPrint">
        <menu-vertical></menu-vertical>
    </div>

    <div class="fw">

        <div class="radius0 fh">
            <router-outlet></router-outlet>
            <!-- <div class="pd20 centertext">
                <span class="text3">Soporte</span>
                <span class="mgl08 text3">Política de privacidad</span>
                <span class="mgl08 text3">Términos y condiciones</span>
            </div> -->
        </div>

    </div>





</div>